#mobilenav{position:fixed;height:100%;width:100%;top:0;left:0;z-index:9999999;-webkit-transition:all 0.3s ease-in-out 0s;-moz-transition:all 0.3s ease-in-out 0s;transition:all 0.6s ease-in-out 0s;-webkit-transform:translate(-110%, 0px);-moz-transform:translate(-110%, 0px);-ms-transform:translate(-110%, 0px);-o-transform:translate(-110%, 0px);transform:translate(-110%, 0px);}
#mobilenav.opened{-webkit-transform:translate(0, 0px);-moz-transform:translate(0, 0px);-ms-transform:translate(0, 0px);-o-transform:translate(0, 0px);transform:translate(0, 0px);}
.mobilenav__inner{background:#000;max-width:84%;position:relative;height:100%;}
.mobilenav__inner .menu-top-menu-container{height:calc(100% - 128px);overflow:auto;}
.mobilenav__inner .menu_close{position:absolute;top:0;right:-20%;background:rgba(0,0,0,0.4);padding:10px;cursor:pointer;width:20%;height:100%;cursor:pointer;}
.mobilenav__inner .menu_close i{font-size:18px;top:50%;left:0;border-radius:0 40px 40px 0;padding:10px;position:absolute;background:#7AB131;border-left:1px solid #000000;color:#fff;transform:translateY(-50%);}
.toplg{padding:0px;text-align:center;padding:40px 0;}
.toplg img{max-width:250px;margin:0 auto;}
#mobilenav h3{color:#fff;font-size:22px;padding:5px 10px;margin-bottom:0;background: #F89220;margin: 10px 0px;display: none;}
#mobilenav .mobile-menu{margin:0;padding:0;}
#mobilenav .mobilenav__inner > div:not(.toplg){overflow-y:auto;height:calc(100% - 128px);}
#mobilenav li{display:block;position:relative;overflow:auto;padding: 0px;}
#mobilenav li a{color:#fff;position:relative;display:block;margin:0;padding:10px 15px;font-size:15px;border-bottom:solid 1px #3c3c3c;border-top:solid 0px #4b4e50;-webkit-transition:all 0.35s linear;-moz-transition:all 0.35s linear;-o-transition:all 0.35s linear;transition:all 0.35s linear;text-transform: uppercase;}
#mobilenav ul.mobile-menu > li > a{background:#000;font-weight: bold;}
#mobilenav .arrow{position:absolute;top:0px;right:0;width:40px;height:44px;cursor:pointer;text-align:center;font-family:"Font Awesome\ 5 Pro";font-weight:900;line-height:25px;color:#060606;background:rgba(0,0,0,0.085);-webkit-transition:all 0.25s ease 0s;-moz-transition:all 0.25s ease 0s;transition:all 0.25s ease 0s;}
#mobilenav .arrow:before{position:absolute;top:50%;transform:translateY(-50%);content:"\f107";font-size:18px;left:43%;}
#mobilenav ul ul.sub-menu{background:#333;}
#mobilenav ul ul.sub-menu li a{color: #fff;}
#mobilenav ul > li.menu-item-has-children.open>.arrow:before{content:"\f106";}
#mobilenav ul.sub-menu{display:none;list-style:none;margin:0;padding:0;}
.panel-overlay{opacity:0;filter:alpha(opacity=0);}
.panel-overlay.active{background:#000;position:fixed;left:0;right:0;top:0;bottom:0;z-index:999999;min-height:100vh;opacity:0.6;filter:alpha(opacity=35);-webkit-transition:opacity 0.2s ease-in-out 0s;-moz-transition:opacity 0.2s ease-in-out 0s;transition:opacity 0.2s ease-in-out 0s;}
#showmenu{position:relative;z-index:5;}
#hamburger .hamburger{margin-left:10px}
.hamburger{display:inline-block;width:30px;height:30px;cursor:pointer;-webkit-transition-property:opacity,-webkit-filter;transition-property:opacity,filter;transition-property:opacity,filter,-webkit-filter;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-timing-function:linear;transition-timing-function:linear;font:inherit;color:inherit;text-transform:none;background-color:transparent;border:0;margin:0;overflow:visible}
.hamburger-box{width:30px;height:24px;display:inline-block;position:relative}
.hamburger-inner{display:block;top:50%;margin-top:-2px}
.hamburger-inner,.hamburger-inner::after,.hamburger-inner::before{width:25px;height:2px;background:#BDBDBD;border-radius:2px;position:absolute;-webkit-transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-timing-function:ease;transition-timing-function:ease}
.hamburger-inner::after,.hamburger-inner::before{content:"";display:block}
.hamburger-inner::before{top:-7.55px}.hamburger-inner::after{bottom:-10px}
.hamburger--collapse .hamburger-inner::before{-webkit-transition:top .12s .3s cubic-bezier(.33333,.66667,.66667,1),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19);transition:top .12s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19);transition:top .12s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19)}
.hamburger--collapse .hamburger-inner::after{top:-15px;-webkit-transition:top .3s .3s cubic-bezier(.33333,.66667,.66667,1),opacity .1s linear;transition:top .3s .3s cubic-bezier(.33333,.66667,.66667,1),opacity .1s linear}
.hamburger--collapse .hamburger-inner{top:auto;bottom:0;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-delay:.15s;transition-delay:.15s;-webkit-transition-timing-function:cubic-bezier(.55,.055,.675,.19);transition-timing-function:cubic-bezier(.55,.055,.675,.19)}
.hamburger--collapse.is-active .hamburger-inner{-webkit-transform:translate3d(0,-10px,0) rotate(-45deg);transform:translate3d(0,-10px,0) rotate(-45deg);-webkit-transition-delay:.32s;transition-delay:.32s;-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1)}
.hamburger--collapse.is-active .hamburger-inner::before{top:0;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);-webkit-transition:top .12s .18s cubic-bezier(.33333,0,.66667,.33333),-webkit-transform .15s .42s cubic-bezier(.215,.61,.355,1);transition:top .12s .18s cubic-bezier(.33333,0,.66667,.33333),transform .15s .42s cubic-bezier(.215,.61,.355,1);transition:top .12s .18s cubic-bezier(.33333,0,.66667,.33333),transform .15s .42s cubic-bezier(.215,.61,.355,1),-webkit-transform .15s .42s cubic-bezier(.215,.61,.355,1)}
.hamburger--collapse.is-active .hamburger-inner::after{top:0;opacity:0;-webkit-transition:top .3s cubic-bezier(.33333,0,.66667,.33333),opacity .1s .27s linear;transition:top .3s cubic-bezier(.33333,0,.66667,.33333),opacity .1s .27s linear}
.sticky-nav{margin:0;padding:0;border:0;border-radius:0;z-index:1000;}
.navbar{border:0px;position:relative;min-height:40px;padding:0px;margin:0px;border-radius:0px;font-family:'Roboto', sans-serif;box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.45);background:#000;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;}
.nav{list-style:outside none;margin-bottom:0;padding:0;}
.navbar-inverse .navbar-toggle{border-color:none;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background-color:#fff;}
.navbar-default .navbar-toggle{border-color:#fff;}
.navbar-inverse{border-color:none;border-style:none;border-width:0px;padding:5px 0;border-color:none;}
.navbar-brand{font-family:'Roboto', sans-serif;font-size:26px;font-weight:700;height:auto;line-height:32px;margin:0px;padding:0px;}
.site-title a, .site-description{color:#747474;font-weight:normal;font-style:italic;font-family:'Roboto', sans-serif;}
.navbar-nav > li > .dropdown-menu {border: solid 1px #d0cfcf;}
.navbar-inverse{border-bottom:0;border-top:0;border-right:0;border-left:0;padding:0;}
.navbar-wrapper{position:absolute;right:0;left:0;margin-top:0px;z-index:20;}
.navbar .navbar-nav > li{margin-right:0px;padding:0;}
.navbar-default .navbar-nav > li > a{font-family:'Roboto', sans-serif;font-size:15px;border-radius:0px;transition:all 0.3s ease-in-out 0s;font-weight:400;padding:15px 20px;color:#BDBDBD;text-transform:uppercase;border-bottom:solid 0px transparent;}
.navbar-default .navbar-nav > li > a::after{position: absolute;content:"";left: 0;top:22px;width: 6px;height: 6px;background: #ddd;z-index: 1;border-radius: 100%;display: none;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{color:#7AB131;background:transparent;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color:#7AB131;background:transparent;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{padding:15px 20px;border-radius:0px;color:#7AB131;-webkit-transition:all 300ms ease-out 0s;-moz-transition:all 300ms ease-out 0s;-o-transition:all 300ms ease-out 0s;transition:all 300ms ease-out 0s;border-bottom:solid 0px #fdd607;background:transparent;}
.navbar-default .navbar-nav > .active.menu-item-has-children > a, .navbar-default .navbar-nav > .active.menu-item-has-children > a:hover{
	color: #BDBDBD;
}
.navbar-default .navbar-nav > li > a > i{font-size: 20px;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{border:none;}
.dropdown-menu{padding:0;min-width:250px;border-radius:0px;background:#fff;border:0px;animation-duration:0.5s;animation-name:fadeInUp;animation-fill-mode:both;border: solid 0px #6094e8;}
.dropdown-menu > ul, .dropdown-menu > li{padding:0;margin:0;}
.dropdown-menu > li > a{font-family:'Roboto', sans-serif;font-size:15px;line-height:20px;transition:all 0.3s ease-in-out 0s;letter-spacing:0.7px;white-space:normal;color:#212529;border-bottom: solid 1px #eee;}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{color:#fff;background:#7AB131;border-color:#333;}
.dropdown-menu > li > a:last-chlid{border-bottom:0px;border-bottom:0;}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{text-decoration:none;color:#fff;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out;background:#7AB131;}
.dropdown-submenu{position:relative;}
.dropdown-submenu > .dropdown-menu{top:0;left:100% !important;margin-top:0px;margin-left:0px;-webkit-border-radius:0px 0px 0px 0px;-moz-border-radius:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;}
.dropdown-submenu:hover > .dropdown-menu{display:block;}
.dropdown-submenu .pull-left{float:none;}
.dropdown-submenu.pull-left > .dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
.open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header{padding:10px 13px;width:100%;}
.navbar-right .dropdown-menu{left:0;right:0;}
.is-sticky .sticky-nav{padding:0px;-webkit-animation:fadeInDown 1s both;animation:fadeInDown 1s both;opacity:0.7;background:rgba(0,0,0,1);box-shadow: 0 6px 6px -5px rgba(0, 0, 0, 0.175);}
.is-sticky .navbar-brand{transition:all 0.25s ease-out 0s;font-size:22px;line-height:18px;}
.navbar-toggle{border-radius:0;}

.woo-sidebar .widget ul.menu{margin:0;padding:0;background:#FFF;}
.woo-sidebar .widget ul.menu li{display:block;position:relative;overflow:auto;padding: 0px;margin: 10px 0px;}
.woo-sidebar .widget ul.menu li > a{color:#333;position:relative;display:block;margin:0;padding:6px 0px;font-size:16px;font-weight: 300;border-bottom:0px dashed #ddd;}
.woo-sidebar .widget ul.menu li > a:hover{color: #7AB131;border-left: none;font-weight: 300;background: transparent;}
.woo-sidebar .widget ul.menu li.active > a,.sidebar .widget ul.menu li > ul.submenu > li.active > a {color: #7AB131;background: transparent;font-weight: 300;}
.woo-sidebar .arrow{position:absolute;top:0px;right:0;width:42px;height:42px;cursor:pointer;text-align:center;font-family:"Font Awesome\ 5 Pro";font-weight:900;line-height:25px;color:#000;background:rgba(223,223,223,0.5);-webkit-transition:all 0.25s ease 0s;-moz-transition:all 0.25s ease 0s;transition:all 0.25s ease 0s;}
.woo-sidebar .arrow:before{position:absolute;top:50%;transform:translateY(-50%);content:"\f107";font-size:18px;right:15px;}
.woo-sidebar ul.menu ul.sub-menu{background:#f5f5f5;}
.woo-sidebar ul.menu ul.sub-menu > li > a{color:#333;}
.woo-sidebar ul.menu > li.menu-item-has-children.open>.arrow:before{content:"\f106";}
.woo-sidebar ul.sub-menu{display:none;list-style:none;margin:0;padding:0;}
.woo-sidebar .tit-woo-sidebar {
	text-align: left;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-weight: 600;
	font-size: 17px;
	line-height: 36px;
	text-transform: uppercase;
	color: #212121;
}
.woo-sidebar .tit-woo-sidebar::after {
	content: "";
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 30px;
	height: 1px;
	background-color: #751113;
}
.sidebar ul.menu{margin:0;padding:0;background:#FFF;}
.sidebar ul.menu li{display:block;position:relative;overflow:auto;padding: 0px;}
.sidebar ul.menu li > a{color:#333;position:relative;display:block;margin:0;padding:10px 15px;font-size:14px;border-bottom:1px dashed #ddd;width: 100%;}
.sidebar ul.menu li > a:hover{color: #017dc5;border-left: none;font-weight: 600;}
/*.sidebar ul.menu  li.active > a, #CategoryBar li > ul.submenu > li.active > a {color: #fff;background: #3b424d;color: #017dc5;background: #f6f7f9;border-left: solid 3px #017dc5;font-weight: 600;padding-left: 27px;}
*/

.sidebar ul.menu .arrow{position:absolute;top:0px;right:0;width:42px;height:42px;cursor:pointer;text-align:center;font-family:"Font Awesome\ 5 Pro";font-weight:900;line-height:25px;color:#66a0dd;background:rgba(255,255,255,0.5);-webkit-transition:all 0.25s ease 0s;-moz-transition:all 0.25s ease 0s;transition:all 0.25s ease 0s;}
.sidebar ul.menu .arrow:before{position:absolute;top:50%;transform:translateY(-50%);content:"\f107";font-size:18px;right:15px;}
.sidebar ul.menu ul.sub-menu{background:#f5f5f5;}
.sidebar ul.menu ul.sub-menu > li > a{color:#333;}
.sidebar ul.menu > li.menu-item-has-children.open>.arrow:before{content:"\f106";}
.sidebar ul.menu ul.sub-menu{display:none;list-style:none;margin:0;padding:0;}

#navbar_primary ul.nav{
	position: relative;
	width: 100%;
}
#navbar_primary ul.nav li.has-mega {
    margin-right: 0px;
    padding: 0;
    position: unset;
}
#navbar_primary ul.nav li.has-mega > .dropdown-menu {
	width: auto;
	background: #fff;
	min-width: auto;
	border: 1px dashed #55433e;
}
#navbar_primary ul.nav li.has-mega.open > .dropdown-menu > li{
	max-width: 50%;
	min-width: 200px;
	border-right: solid 1px #ddd;
}
#navbar_primary ul.nav li.has-mega.open > .dropdown-menu{
	display: flex;
}
#navbar_primary ul.nav li.has-mega > .dropdown-menu > li > a{
    width: 100%;
    font-weight: bold;
}
ul.nav .open .dropdown-menu > li > a:hover,ul.nav .open .dropdown-menu > li > a:focus{
	color:#fff;background:#7AB131;
	border-color: transparent;
}
ul.nav .open .dropdown-menu > li > a{
	border-color: transparent;
}
#navbar_primary ul.nav  li.has-mega > .dropdown-menu > li > .dropdown-menu{
	position: relative;
	min-width: auto;
	width: 100%;
	left: 0 !important;
	right: 0;
	top: 0;
	box-shadow:unset;
	display: block;
	box-shadow:unset;
	animation: none;
}