$gray-1: #111111;
$gray-2: #222222;
$gray-3: #333333;
$gray-4: #444444;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #888888;
$gray-9: #999999;
$gray-a: #aaaaaa;
$gray-b: #bbbbbb;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$gray-f4: #f4f4f4;
$gray-f6: #f6f6f6;

$color-00A80C: #00A80C;
$color-fff719: #fff719;

$hoved:#AEDAE0;
$nobel:#DCE1B4;

$blues-2:#469AC6;
$blues-3:#78B6E4;
$reds:#E11B22;

$reds:#D81823;
$blues:#344190;


$oganges-2:#FC8631;
$greens-2:#BCD631;
$grays:#ABABAB;

// color
$border: #dee2e6;
$black: #000;
$white: #fff;
$red: #f00;


$yellows:#D6BC52;

$grown-2:#F5D182;
$grown-3:#6E4720;
$grown-4: #221606;

$greens:#49B82D;
$greens-2:#118923;

$greyss:#8f8f8f;
$yellows-1s:#fcf8e8;

$oranges-1s:#ffe1af;
$greens-1s:#1E8E65;
$reds-1s:#ff6b6b;
$yellows-1s:#fcf8e8;

$blues-1s:#185adb;
$blues-2s:#22577a;
$oranges-2s:#eab762;
$greens-2s:#91c788;
$greens-3s:#60b431;
$greens-4s:#289672;
$pinks-1s:#f69679;

$growns:#E6E6E6;
$growns-2s:#f3f0d7;
$growns-3s:#c5be82;

$oranges:#FBA90B;
$yellows:#FFDB7E;
$blues:#0F40BD;



$pinks:#FFDEE1;
$reds: #C7233E;
$growns:#DD596A;




a {

    &:hover,
    &:focus {}
}

/* :not(:last-child) */
/* :nth-child(1n+0) */