@charset "UTF-8";
.a {
  display: flex;
  position: relative;
  height: 1px;
  width: 100%;
  padding-top: 65%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
body {
  line-height: 1.5;
  color: #333333;
  word-break: break-word;
  position: relative;
  font-size: 18px;
  font-family: "HelveticaNeue";
}

.bg-pages {
  background-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 0px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #0F40BD;
}

a, a:focus,
input,
input:focus,
button,
button:focus,
textarea,
textarea:focus,
select,
select:focus {
  outline: 0;
  box-shadow: none !important;
  background-clip: unset !important;
  text-decoration: none;
}

dl,
ol,
ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  transition: all 0.2s;
  cursor: pointer;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
  line-height: 1.49;
}

table td {
  border: solid 1px #EDEDED;
  color: black;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.center {
  text-align: center;
}

.s-content ol {
  list-style: decimal;
  margin-left: 15px;
  margin-bottom: 10px;
}

.s-content ul {
  list-style: initial;
  margin-left: 15px;
  margin-bottom: 10px;
}

.s-content li {
  list-style: inherit;
  margin-bottom: 5px;
}

.s-content p {
  margin-bottom: 15px;
}

.s-content img {
  display: block;
  max-width: 100%;
  margin: 10px auto;
  width: auto !important;
  object-fit: contain;
  height: auto !important;
  max-width: 100%;
}

.s-content table,
.s-content iframe {
  max-width: 100%;
  width: 100%;
}

.s-content table {
  border-collapse: collapse;
  width: 100%;
  border: solid 1px #0000006e;
}

.s-content table td {
  border-collapse: collapse;
  border: solid 1px #0000006e;
  padding: 3px;
}

.s-content h1,
.s-content h2,
.s-content h3,
.s-content h4,
.s-content h5,
.s-content h6 {
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.s-content h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.s-content h2 {
  font-size: 1.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.s-content h3 {
  font-size: 1.17em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.s-content h4 {
  font-size: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.s-content h5 {
  font-size: 0.83em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.s-content h6 {
  font-size: 0.67em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

/* font */
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: 400;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: 200;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
  font-weight: 500;
}
@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue-Light";
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue-Medium";
  src: url("../fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
b {
  font-family: "HelveticaNeue-Bold";
}

strong {
  font-family: "Roboto-Medium";
  font-weight: 500;
}

.swiper-container-multirow-column > .swiper-wrapper {
  flex-direction: unset;
}

.swiper-container {
  height: fit-content;
}
.swiper-container .swiper-slide {
  height: fit-content;
}

@media (min-width: 1440.98px) {
  .container {
    max-width: 1180px;
  }
}
.color-black {
  color: black !important;
}

.color-greyss {
  color: #C9C9C9 !important;
}

/* end font */
.limit-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  max-height: 1.5em;
  line-height: 1.5;
}
.limit-line--2 {
  -webkit-line-clamp: 2;
  max-height: 3em;
}
.limit-line--3 {
  -webkit-line-clamp: 3;
  max-height: 4.5em;
}
.limit-line--4 {
  -webkit-line-clamp: 4;
  max-height: 6em;
}

form {
  margin-bottom: 0px;
}

/* variable */
/* search-group */
.d-nones {
  display: none;
}

.text-grey {
  color: #555;
}

/* ---- */
.modal {
  padding-left: 15px;
  padding-right: 15px;
}

.gutter-0 {
  margin: 0 0px;
}
.gutter-0 > [class^=col] {
  padding: 0 0px;
}

.gutter-6 {
  margin: 0 -3px;
}
.gutter-6 > [class^=col] {
  padding: 0 3px;
}

.gutter-10 {
  margin: 0 -5px;
}
.gutter-10 > [class^=col] {
  padding: 0 5px;
}

.gutter-12 {
  margin: 0 -6px;
}
.gutter-12 > [class^=col] {
  padding: 0 6px;
}

.gutter-15 {
  margin: 0 -7px;
}
.gutter-15 > [class^=col] {
  padding: 0 7px;
}

.gutter-20 {
  margin: 0 -10px;
}
.gutter-20 > [class^=col] {
  padding: 0 10px;
}

.gutter-40 {
  margin: 0 -20px;
}
.gutter-40 > [class^=col] {
  padding: 0 20px;
}

.gutter-50 {
  margin: 0 -25px;
}
.gutter-50 > [class^=col] {
  padding: 0 25px;
}

.gutter-60 {
  margin: 0 -30px;
}
.gutter-60 > [class^=col] {
  padding: 0 30px;
}

.gutter-70 {
  margin: 0 -35px;
}
.gutter-70 > [class^=col] {
  padding: 0 35px;
}

.gutter-80 {
  margin: 0 -40px;
}
.gutter-80 > [class^=col] {
  padding: 0 40px;
}

/* header */
.header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 1000;
  transition: all 0.05s;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  background-color: #FFFFFF;
}
.header .container {
  display: flex;
  align-items: center;
}

.header-pages {
  position: fixed !important;
  background-color: #efefef;
}

.logo-mains {
  margin-right: auto;
  width: 85px;
  object-fit: scale-down;
}
.logo-mains img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.overflow-hidden {
  overflow: hidden;
}

.actives-fixed__headers {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
}

.headers-fixed {
  position: fixed !important;
  height: auto;
  width: 100%;
  animation-duration: 3s;
  animation-delay: 0s !important;
  z-index: 99;
  animation-name: slideInDown;
  background-color: black !important;
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    transform: translateY(0);
  }
}
.slideInDown {
  animation-name: slideInDown;
}

.menu ul li a {
  text-decoration: none;
}

.active-tops {
  opacity: 1 !important;
  z-index: 9 !important;
  visibility: visible !important;
}

.back-menu {
  position: absolute;
  right: 15px;
  top: 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 36px;
  font-weight: bold;
  transition: all 0.2s;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.scroll-fixed__headers {
  background-color: rgba(255, 255, 255, 0.8);
}
.scroll-fixed__headers .content-headers .container {
  padding-bottom: 5px;
  padding-top: 5px;
  transition: all 0.3s;
}

.menu {
  width: fit-content;
}

.menu-desktop {
  width: 100%;
  background-color: transparent;
}
.menu-desktop > ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  position: relative;
}
.menu-desktop > ul > li {
  position: relative;
  /* submenu */
}
.menu-desktop > ul > li:not(:last-child) {
  margin-right: 25px;
}
.menu-desktop > ul > li:after {
  content: "";
  width: 6px;
  height: 6px;
  display: flex;
  border-radius: 1000px;
  background-color: #F7941D;
  position: absolute;
  bottom: -8px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: all 0.3s;
}
.menu-desktop > ul > li:hover > ul, .menu-desktop > ul > li:focus > ul {
  opacity: 1 !important;
  visibility: visible !important;
}
.menu-desktop > ul > li:hover:after, .menu-desktop > ul > li:focus:after {
  opacity: 1;
}
.menu-desktop > ul > li > a {
  color: black;
  width: fit-content;
  display: flex;
  transition: all 0.3s;
  position: relative;
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
  text-transform: uppercase;
}
.menu-desktop > ul > li > a img {
  width: 20px;
  height: auto;
  object-fit: scale-down;
  margin-right: 10px;
}
.menu-desktop > ul > li > a:hover, .menu-desktop > ul > li > a:focus {
  color: #0F40BD;
  font-family: "HelveticaNeue-Medium";
}
.menu-desktop > ul > li > a:hover:after, .menu-desktop > ul > li > a:focus:after {
  width: 100%;
}
.menu-desktop > ul > li > ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 380%;
  height: auto;
  z-index: 10;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 350px;
  padding: 10px 0px;
}
.menu-desktop > ul > li > ul > li {
  position: relative;
  width: 25%;
  margin-bottom: 10px;
  padding: 0px 10px;
}
.menu-desktop > ul > li > ul > li > a {
  font-family: "Roboto-Medium";
  padding-bottom: 5px;
  border-bottom: solid 1px #EDEDED;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.menu-desktop > ul > li > ul > li > a:hover, .menu-desktop > ul > li > ul > li > a:focus {
  color: #333333;
}
.menu-desktop > ul > li > ul > li a {
  display: flex;
  color: #333333;
  font-size: 13px;
}
.menu-desktop > ul > li > ul > li a:hover, .menu-desktop > ul > li > ul > li a:focus {
  color: #0F40BD;
}
.menu-desktop > ul > li > ul > li ul li:not(:last-child) {
  margin-bottom: 5px;
}

.button-phone {
  display: none;
  z-index: 10;
  position: relative;
  z-index: 100;
}

.opens-now {
  left: 0 !important;
  z-index: 9999;
}

.remove-all {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: none;
  top: 0;
  left: 0;
}

.out-menu {
  display: block !important;
}

#main-menu-mobile {
  display: none;
}

@media all and (max-width: 991.98px) {
  #main-menu-mobile {
    position: fixed !important;
    top: 0 !important;
    left: -100%;
    width: 290px;
    max-width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: white;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  #main-menu-mobile::-webkit-scrollbar {
    width: 2px;
    border-radius: 0px;
  }

  #main-menu-mobile::-webkit-scrollbar-track {
    background-color: #6E4720;
  }

  #main-menu-mobile::-webkit-scrollbar-thumb {
    background-color: #F5D182;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  #main-menu-mobile::-webkit-scrollbar-thumb:hover {
    background-color: #05843E;
  }

  #main-menu-mobile {
    scrollbar-face-color: #05843E;
    scrollbar-track-color: #fff;
  }

  #main-menu-mobile .header-menu-mobile {
    text-align: center;
    padding: 20px 0px;
  }

  #main-menu-mobile .header-menu-mobile .close-menu-btn {
    cursor: pointer;
    display: block;
    padding: 8px;
    border: solid 1px white;
  }

  #main-menu-mobile .header-menu-mobile .close-menu-btn i {
    color: #fff;
    font-size: 17px;
  }

  #main-menu-mobile .header-menu-mobile .close-menu-btn:hover {
    background-color: #fff;
  }

  #main-menu-mobile .header-menu-mobile .close-menu-btn:hover i {
    color: #F7941E;
  }

  #main-menu-mobile .menu_clone ul {
    max-height: 600px;
    overflow-y: auto;
  }

  #main-menu-mobile .menu_clone ul::-webkit-scrollbar {
    width: 2px;
    border-radius: 40px;
  }

  #main-menu-mobile .menu_clone ul::-webkit-scrollbar-track {
    background-color: #fff;
  }

  #main-menu-mobile .menu_clone ul::-webkit-scrollbar-thumb {
    background-color: #05843E;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  #main-menu-mobile .menu_clone ul::-webkit-scrollbar-thumb:hover {
    background-color: #F7941E;
  }

  #main-menu-mobile .menu_clone ul li {
    position: relative;
    display: block;
    overflow: hidden;
  }

  #main-menu-mobile .menu_clone ul li a {
    display: block;
    padding: 10px 15px;
    color: #333333;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    width: calc(100% - 60px);
    border-bottom: solid 1px #ebebeb;
    font-family: "HelveticaNeue-Medium";
  }

  #main-menu-mobile .menu_clone ul li a:hover,
#main-menu-mobile .menu_clone ul li.active a {
    color: #F7941E;
  }

  #main-menu-mobile .menu_clone ul li i {
    position: absolute;
    width: 30px;
    max-width: 100%;
    height: 30px;
    top: 0;
    right: 0;
    background-color: #F7941E;
    border-left: solid 1px #EBEBEB;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    opacity: 1;
    font-style: inherit;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  #main-menu-mobile .menu_clone ul li i::before {
    font-family: "FontAwesome";
    content: "";
    font-size: 17px;
    color: black;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  #main-menu-mobile .menu_clone ul li i.active::before {
    transform: rotate(-180deg);
  }

  #main-menu-mobile .menu_clone ul li:hover i {
    opacity: 1;
    background-color: #F7941E;
  }

  #main-menu-mobile .menu_clone ul li ul {
    position: static;
    width: 100%;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #main-menu-mobile .menu_clone ul li ul li {
    border-top: 1px solid #fff;
  }

  #main-menu-mobile .menu_clone ul li ul li:last-child {
    border-bottom: none;
  }

  #main-menu-mobile .menu_clone ul li ul li a {
    width: 100%;
    padding-left: 20px;
    font-size: 13px;
    background-color: #ebebeb;
  }

  #main-menu-mobile .menu_clone ul li ul li ul li a {
    padding-left: 30px;
  }

  .active-menu-mobile {
    left: 0px !important;
  }

  .bg-over-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    min-width: 20%;
    opacity: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .bg-over-menu.show-over {
    right: 0;
    z-index: 8888;
    opacity: 1;
  }
}
.top-headers {
  background-color: #333333;
}
.top-headers > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.mail-phone__headers {
  display: flex;
  align-items: center;
  border-left: solid 1px #FFFFFF;
  border-right: solid 1px #FFFFFF;
}
.mail-phone__headers li {
  padding: 5px 15px;
}
.mail-phone__headers li:not(:last-child) {
  border-right: solid 1px #FFFFFF;
}
.mail-phone__headers li a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 13px;
}
.mail-phone__headers li a img {
  width: 20px;
  height: 20px;
  object-fit: scale-down;
  margin-right: 15px;
}

.app-headers {
  display: flex;
  align-items: center;
  border-left: solid 1px #FFFFFF;
  padding-left: 15px;
}
.app-headers li:not(:last-child) {
  margin-right: 15px;
}
.app-headers li a {
  color: #FFFFFF;
}
.app-headers li a:hover, .app-headers li a:focus {
  color: #F7941D;
}

.content-headers > .container {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.search-headers {
  margin-left: 15px;
  position: relative;
}
.search-headers .btn-searchs__headers {
  display: flex;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.search-headers .btn-searchs__headers img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.search-headers .forms-search__headers {
  position: absolute;
  top: 100%;
  left: 0px;
  opacity: 0;
  visibility: hidden;
}

.search-headerss__box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  top: 0px;
  left: 0px;
  background: url(../images/banner-mains.png) no-repeat center;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.search-headerss__box:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 24, 111, 0.8);
}
.search-headerss__box:after {
  content: "";
  display: flex;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 25%;
  background: url(../images/wave.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 15;
}
.search-headerss__box .container {
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
  position: relative;
}
.search-headerss__box .container .btn-close__searchs {
  position: absolute;
  top: 30px;
  right: 15px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s;
}
.search-headerss__box .container .btn-close__searchs:hover, .search-headerss__box .container .btn-close__searchs:focus {
  transform: scale(1.2);
}
.search-headerss__box .container .btn-close__searchs img {
  object-fit: scale-down;
}
.search-headerss__box .searchs-headers__ins {
  max-width: 880px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #FFFFFF;
  padding-bottom: 10px;
}
.search-headerss__box .searchs-headers__ins input {
  border: 0px;
  padding: 0px;
  outline: none;
  width: 100%;
  font-size: 24px;
  flex: 1;
  background-color: transparent;
  color: #FFFFFF;
}
.search-headerss__box .searchs-headers__ins input::placeholder {
  color: #4C6094 !important;
}
.search-headerss__box .searchs-headers__ins button {
  width: fit-content;
  height: fit-content;
  padding: 0px;
  border: 0px;
  outline: none;
  background-color: transparent;
  filter: brightness(0) invert(1);
}

.open-search__headers {
  opacity: 1;
  visibility: visible;
}

/* end header */
/* footers */
.tops-footers {
  padding: 60px 0px;
  background-color: #F5F5F5;
}

.list-intros__footers li:not(:last-child) {
  margin-bottom: 10px;
}
.list-intros__footers li a:hover, .list-intros__footers li a:focus {
  color: #0F40BD;
}

.nav-list__footers li:not(:last-child) {
  margin-bottom: 10px;
}
.nav-list__footers li a:hover, .nav-list__footers li a:focus {
  color: #0F40BD;
}

.app-footers {
  display: flex;
  flex-wrap: wrap;
}
.app-footers li:not(:last-child) {
  margin-right: 10px;
}

.certification-footers ul {
  display: flex;
}
.certification-footers ul li {
  flex: 1;
}
.certification-footers ul li:not(:last-child) {
  margin-right: 30px;
}

.bottom-footers {
  padding: 20px 0px;
  border-top: solid 1px #9A9A9B;
  background-color: #F5F5F5;
}

/* and footer */
/* forms */
.input-alls {
  height: 45px;
}

.control-alls {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: solid 1px transparent;
  width: 100%;
  font-size: 16px;
  transition: all 0.2s;
  padding: 15px;
}
.control-alls:focus {
  border: solid 1px #0F40BD;
}
.control-alls::placeholder {
  color: #4F4F4F !important;
}

.input-contacts__details {
  height: 35px;
}

.control-details__contacts {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: solid 1px #E0E0E0;
  width: 100%;
  font-size: 14px;
  transition: all 0.2s;
  padding: 10px;
}
.control-details__contacts:focus {
  border: solid 1px #0F40BD;
}
.control-details__contacts::placeholder {
  color: #4F4F4F !important;
}

.select-control-alls {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0px;
  height: 40px;
  border: solid 1px #E0E0E0;
  border-radius: 3px;
  width: 100%;
}
.select-control-alls:after {
  font-family: "fontawesome";
  content: "";
  font-size: 18px;
  color: #333333;
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-control-alls select {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: auto;
  background-color: transparent;
  border: 0px;
  padding: 10px;
  padding-right: 20px;
  position: relative;
  z-index: 100;
  font-size: 15px;
  width: 100%;
}

.btn-blues__alls {
  display: flex;
  min-height: 35px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border: solid 1px transparent;
  background-color: #0F40BD;
  color: #FFFFFF;
  padding: 5px 15px;
  transition: all 0.3s;
  border: solid 1px #0F40BD;
  min-width: 85px;
  font-size: 17px;
  border-radius: 3px;
}
.btn-blues__alls > i {
  background-color: #FFFFFF;
  color: #0F40BD;
}
.btn-blues__alls img {
  filter: brightness(0) invert(1);
  margin: 0px 10px;
}
.btn-blues__alls:hover, .btn-blues__alls:focus {
  background-color: #062a89;
  color: #FFFFFF;
  border-color: #062a89;
}
.btn-blues__alls .titles-medium__alls {
  margin: 0px 5px;
}

.btn-blues__trans {
  display: flex;
  min-height: 35px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border: solid 1px transparent;
  background-color: #FFFFFF;
  color: #0F40BD;
  padding: 5px 15px;
  transition: all 0.3s;
  border: solid 1px #0F40BD;
  border-radius: 3px;
  font-size: 15px;
}
.btn-blues__trans i {
  margin-left: 5px;
}
.btn-blues__trans:hover, .btn-blues__trans:focus {
  background-color: #0F40BD;
  color: #FFFFFF;
  border-color: #0F40BD;
}

.btn-oranges__second {
  display: flex;
  min-height: 35px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border: solid 1px transparent;
  background-color: #F5ECE1;
  color: #333333;
  padding: 5px 15px;
  transition: all 0.3s;
  border: solid 1px #F5ECE1;
  min-width: 85px;
  font-size: 17px;
  border-radius: 3px;
}
.btn-oranges__second i {
  background-color: #F7941D;
  color: #FFFFFF;
}
.btn-oranges__second img {
  margin: 0px 10px;
}
.btn-oranges__second:hover, .btn-oranges__second:focus {
  background-color: transparent;
  color: #F7941D;
  border-color: #F7941D;
}

.btn-greys__trans {
  display: flex;
  min-height: 40px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border: solid 1px transparent;
  background-color: #FFFFFF;
  color: #212121;
  padding: 5px 20px;
  transition: all 0.3s;
  border: solid 1px #E5E5E5;
  border-radius: 100px;
  font-size: 14px;
}
.btn-greys__trans i {
  margin-left: 5px;
}
.btn-greys__trans img {
  margin: 0px 10px;
}
.btn-greys__trans:hover, .btn-greys__trans:focus {
  background-color: #333333;
  color: #FFFFFF;
  border-color: #333333;
}
.btn-greys__trans:hover img, .btn-greys__trans:focus img {
  filter: brightness(0) invert(1);
}

.btn-oranges__alls {
  display: flex;
  min-height: 35px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border: solid 1px transparent;
  background-color: #F7941D;
  color: #FFFFFF;
  padding: 5px 15px;
  min-width: 110px;
  transition: all 0.3s;
  border: solid 1px #F7941D;
  border-radius: 5px;
}
.btn-oranges__alls:hover, .btn-oranges__alls:focus {
  background-color: transparent;
  color: #F7941D;
  border-color: #F7941D;
}

.select-allsss {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px;
  min-height: 50px;
  border: solid 1px #e1e1e1;
}
.select-allsss:after {
  font-family: "fontawesome";
  content: "";
  font-size: 18px;
  color: #555555;
  background-color: #e1e1e1;
  position: absolute;
  padding: 3px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 3px;
}
.select-allsss select {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: auto;
  background-color: transparent;
  border: 0px;
  padding: 10px 20px;
  padding-right: 50px;
  position: relative;
  z-index: 100;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 12px;
  width: fit-content;
}
.rating .rating-box {
  font-size: 0;
  line-height: 1;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  vertical-align: middle;
  font-size: 14px;
  color: #C4C4C4;
  margin-right: 10px;
}
.rating .rating-box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  line-height: 1;
  pointer-events: none;
  width: 90%;
  color: #FBA90B;
}

.breadcrumb {
  display: flex;
  align-items: center;
  padding: 0px;
  flex-wrap: wrap;
  margin-bottom: 0px;
  border-radius: 0px;
  width: fit-content;
  background-color: transparent;
}
.breadcrumb .active {
  color: #0F40BD !important;
  font-family: "Roboto-Medium";
}
.breadcrumb li {
  position: relative;
  display: flex;
  align-items: center;
}
.breadcrumb li:not(:last-child):after {
  content: "/";
  display: flex;
  margin: 0px 10px;
}
.breadcrumb li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #4D4D4D;
  font-family: "Roboto-Regular";
}
.breadcrumb li a:hover, .breadcrumb li a:focus {
  color: #0F40BD;
}

.pagenigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.pagenigation > a,
.pagenigation strong {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #FFFFFF;
  border-radius: 0px;
  color: #555555;
  margin-bottom: 5px;
  border-color: 0px;
  border-radius: 1000px;
  font-weight: 400;
  padding: 3px;
  border: solid 1px #cccccc;
}
.pagenigation > a img,
.pagenigation strong img {
  transition: all 0.3s;
}
.pagenigation > a:not(:last-child),
.pagenigation strong:not(:last-child) {
  margin-right: 8px;
}
.pagenigation > a:hover, .pagenigation > a:focus,
.pagenigation strong:hover,
.pagenigation strong:focus {
  background-color: #0F40BD;
  color: #FFFFFF;
  border: solid 1px #0F40BD;
}
.pagenigation .active {
  background-color: #0F40BD;
  color: #FFFFFF;
  border: solid 1px #0F40BD;
}

.rating-item {
  display: flex;
  align-items: center;
}
.rating-item .rating-box {
  font-size: 0;
  line-height: 1;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  vertical-align: middle;
  font-size: 14px;
  color: #939393;
}
.rating-item .rating-box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  line-height: 1;
  pointer-events: none;
  width: 0%;
  color: #FFC107;
}
.rating-item p {
  font-size: 12px;
  color: #888888;
}

.sl-pagenigations .swiper-pagination {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.sl-pagenigations .swiper-pagination .swiper-pagination-bullet {
  margin: 0px;
  padding: 0px;
  width: 10px;
  height: 10px;
  background-color: #d7d7d7;
  border-radius: 1000px;
  transition: all 0.3s;
  position: relative !important;
  bottom: unset;
  opacity: 1 !important;
  border: 0px;
}
.sl-pagenigations .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 15px;
}
.sl-pagenigations .swiper-pagination .swiper-pagination-bullet-active {
  transform: scale(1.5);
}

.sl-btn-alls {
  position: relative;
}
.sl-btn-alls .swiper-button-prev,
.sl-btn-alls .swiper-button-next {
  opacity: 0;
  visibility: hidden;
}
.sl-btn-alls .group-btns__showss {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 1px;
  width: 100%;
  z-index: 10;
  top: 50%;
  left: 0px;
  font-size: 24px;
}
.sl-btn-alls .group-btns__showss .showss-button-prev,
.sl-btn-alls .group-btns__showss .showss-button-next {
  transition: all 0.3s;
  position: relative;
  width: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EDEDED;
  cursor: pointer;
  padding: 3px;
  color: #000000;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
  transform: translateY(-25px);
}
.sl-btn-alls .group-btns__showss .showss-button-prev img,
.sl-btn-alls .group-btns__showss .showss-button-next img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.sl-btn-alls .group-btns__showss .showss-button-prev:hover, .sl-btn-alls .group-btns__showss .showss-button-prev:focus,
.sl-btn-alls .group-btns__showss .showss-button-next:hover,
.sl-btn-alls .group-btns__showss .showss-button-next:focus {
  transform: scale(1.2);
}
.sl-btn-alls .group-btns__showss .showss-button-prev {
  left: 0px;
}
.sl-btn-alls .group-btns__showss .showss-button-next {
  right: 0px;
}

.list-btn__choose {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 670px;
  margin-left: auto;
  margin-right: auto;
}
.list-btn__choose li {
  width: 49%;
}
.list-btn__choose li > [class^=btn] {
  min-height: 50px;
  border-radius: 5px;
  width: 100%;
  max-width: unset;
}
.list-btn__choose li > [class^=btn] > i {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border-radius: 1000px;
}

.list-dics {
  padding-left: 15px;
}
.list-dics li {
  list-style: disc;
}

.list-text__alls li {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #E0E0E0;
}
.list-text__alls li:hover a, .list-text__alls li:focus a {
  color: #F7941D;
  font-family: "HelveticaNeue-Medium";
}
.list-text__alls li:hover:after, .list-text__alls li:focus:after {
  background: url(../images/arrow-right-nav-2.svg) no-repeat center;
  background-size: contain;
}
.list-text__alls li:not(:last-child) {
  margin-bottom: 15px;
}
.list-text__alls li:before {
  content: "";
  display: flex;
  width: 5px;
  min-width: 5px;
  height: 5px;
  border-radius: 1000px;
  background-color: #F7941D;
  margin-right: 10px;
}
.list-text__alls li:after {
  content: "";
  display: flex;
  background: url(../images/arrow-right-nav-1.svg) no-repeat center;
  background-size: contain;
  width: 17px;
  height: 10px;
  margin-left: auto;
  transition: all 0.3s;
}
.list-text__alls a {
  color: #0F40BD;
}

.supports-mains {
  background: url(../images/bg-suport-mains.png) no-repeat center;
  background-size: cover;
  color: #FFFFFF;
}
.supports-mains iframe {
  height: 385px;
}
.supports-mains .select-control-alls {
  background-color: #FFFFFF;
}

.banner-all__tops {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
}
.banner-all__tops img {
  min-height: 400px;
  object-fit: cover;
}
.banner-all__tops:after {
  content: "";
  display: flex;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 38%;
  background: url(../images/after-ware-pages.png) no-repeat center;
  background-size: auto 100%;
  z-index: 15;
  animation: bgbannermains 30s alternate infinite;
}
@keyframes bgbannermains {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    background-position: 100% 0%;
  }
  100% {
    transform: scale(1);
  }
}
.top-no__bgs:after {
  display: none;
}

.list-not__navs li {
  border-bottom: 0px;
}
.list-not__navs li:after {
  display: none;
}

.titles-medium__alls {
  font-family: "HelveticaNeue-Medium";
}

.titles-bold__alls {
  font-family: "HelveticaNeue-Bold";
}

.titles-transform__alls {
  text-transform: uppercase;
}

.titles-center__alls {
  text-align: center;
}

.text-color__blues {
  color: #0F40BD;
}

.text-color_reds {
  color: #FF1A1A;
}

.text-oranges {
  color: #F7941D;
}

.text-color_greens {
  color: #219653;
}

.text-color__greys {
  color: #808080;
}

.fs-10s {
  font-size: 10px;
}

.fs-13s {
  font-size: 13px;
}

.fs-14s {
  font-size: 14px;
}

.fs-15s {
  font-size: 15px;
}

.fs-16s {
  font-size: 16px;
}

.fs-17s {
  font-size: 17px;
}

.fs-18s {
  font-size: 18px;
}

.fs-20s {
  font-size: 20px;
}

.fs-24s {
  font-size: 24px;
}

.fs-30s {
  font-size: 30px;
}

.fs-40s {
  font-size: 40px;
}

.fs-74s {
  font-size: 74px;
}

.mb-10s {
  margin-bottom: 10px;
}

.mb-15s {
  margin-bottom: 15px;
}

.mb-20s {
  margin-bottom: 20px;
}

.mb-25s {
  margin-bottom: 25px;
}

.mb-30s {
  margin-bottom: 30px;
}

.mb-40s {
  margin-bottom: 40px;
}

.mb-50s {
  margin-bottom: 50px;
}

.mb-55s {
  margin-bottom: 55px;
}

.mb-60s {
  margin-bottom: 60px;
}

.mb-70s {
  margin-bottom: 70px;
}

.mb-80s {
  margin-bottom: 80px;
}

.mb-100s {
  margin-bottom: 100px;
}

.mb-120s {
  margin-bottom: 120px;
}

.mb-200s {
  margin-bottom: 200px;
}

.p-100s {
  padding-top: 100px;
  padding-bottom: 100px;
}

.p-70s {
  padding-top: 70px;
  padding-bottom: 70px;
}

.p-50s {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
/* end variable */