.a {
  display: flex;
  position: relative;
  height: 1px;
  width: 100%;
  padding-top: 65%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.why-sevice__events .title-after__mains {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.why-sevice__events .title-after__mains:before {
  margin: 0px auto;
  right: 0;
  transform: translateX(-20px);
}
.why-sevice__events .title-after__mains:after {
  margin: 0px auto;
  right: 0;
  transform: translateX(25px);
}

.items-why__events .tops-why__events {
  display: flex;
  align-items: center;
}
.items-why__events .tops-why__events .number-why__events {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  border-radius: 1000px;
  font-size: 42px;
  color: #F7941D;
  background-color: #FCF6EE;
  position: relative;
}
.items-why__events .tops-why__events .number-why__events:after {
  content: "";
  position: absolute;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 1000px;
  background-color: #F5C07F;
  z-index: 5;
  right: -10px;
  bottom: -10px;
}
.items-why__events .tops-why__events .text-color__blues {
  font-size: 16px;
}
.items-why__events .tops-why__events .titles-why__events {
  position: relative;
  z-index: 10;
  transform: translateX(-15px);
}
.items-why__events .intros-why__events {
  background-color: #F0F4F8;
  border-radius: 20px;
  padding: 25px;
}

.items-favorite__page {
  width: 100%;
  position: relative;
}
.items-favorite__page:hover .intros-favorite__pages, .items-favorite__page:focus .intros-favorite__pages {
  opacity: 1;
  visibility: visible;
}
.items-favorite__page .intros-favorite__pages {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: auto;
  z-index: 10;
  padding: 15px;
  padding-top: 40px;
  background: linear-gradient(180deg, rgba(15, 64, 189, 0) 20.73%, rgba(10, 53, 164, 0.5) 50.07%, #0D235A 83.13%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.items-favorite__page .intros-favorite__pages .names-favorite__page {
  color: #FFFFFF;
  display: flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3 !important;
  overflow: hidden;
  max-height: 100% !important;
}
.items-favorite__page .intros-favorite__pages .names-favorite__page:hover, .items-favorite__page .intros-favorite__pages .names-favorite__page:focus {
  color: #F7941D;
}
.items-favorite__page > a {
  display: flex;
  position: relative;
  height: 1px;
  width: 100%;
}
.items-favorite__page > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.angry-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 6px;
  height: 100%;
}
.angry-grid .item-0 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
}
.angry-grid .item-1 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;
}
.angry-grid .item-2 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}
.angry-grid .item-3 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}
.angry-grid .item-4 {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
}
.angry-grid .item-5 {
  grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 5;
}

.pd-horizontal__rectangle > a {
  padding-top: 45%;
}

.pd-square > a {
  padding-top: 90%;
}

.pd-vetical__rectangle > a {
  padding-top: 183%;
}

.title-news__relates {
  display: flex;
  align-items: center;
}
.title-news__relates span {
  background-color: #FFFFFF;
  z-index: 10;
  margin-right: 10px;
}
.title-news__relates:after {
  content: "";
  width: 100%;
  height: 1px;
  flex: 1;
  background-color: #CCCCCC;
}