/*--------------------------------------------------------------
## Responsive 
--------------------------------------------------------------*/
/* Extra large devices (large desktops) */

/*--------------------------------------------------------------
## Layout construct 
--------------------------------------------------------------*/
@media (min-width: 992px) {
	.sidebar-content .site-main,
	.content-sidebar .site-main {
		float: right;
		width: 74.5%;
	}
	.sidebar-content .sidebar,
	.content-sidebar .sidebar {
		float: left;
		width: 23.5%;
	}
	.content-sidebar .site-main {
		float: left;
	}
	.content-sidebar .sidebar {
		float: right;
	}
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.content-sidebar-sidebar .content-sidebar-wrap {
		float: left;
		width: 75.5%;
	}
	.sidebar-content-sidebar .site-main,
	.sidebar-sidebar-content .site-main,
	.content-sidebar-sidebar .site-main {
		float: right;
		width: 67.5496689%;
	}
	.sidebar-content-sidebar .sidebar-primary,
	.sidebar-sidebar-content .sidebar-primary,
	.content-sidebar-sidebar .sidebar-primary {
		float: left;
		width: 31.1258278%;
	}
	.sidebar-content-sidebar .sidebar-secondary,
	.sidebar-sidebar-content .sidebar-secondary {
		float: right;
		width: 23.5%;
	}
	.sidebar-sidebar-content .sidebar {
		float: left;
	}
	.sidebar-sidebar-content .content-sidebar-wrap {
		float: right;
	}
	.content-sidebar-sidebar .sidebar-primary {
		float: right;
	}
	.content-sidebar-sidebar .sidebar-secondary {
		float: right;
		width: 23.5%;
	}
	.content-sidebar-sidebar .site-main {
		float: left;
	}
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	#site-navigation, .sidebar .widget_nav_menu ul ul {
		display: none;
	}
	.site-boxed .site-content {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.site-info, .site-info * {
		text-align: center;
	}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

