// normalize
@import 'base';
@import 'function';


body {

    line-height: 1.5;
    color: #333333;
    word-break: break-word;
    position: relative;
    font-size: 22px;
    font-family: 'VLNewParisHeadline';
    background: rgb(255, 222, 225);
    background: linear-gradient(0deg, rgba(255, 222, 225, 0.5021358885351015) 0%, rgba(255, 222, 225, 0) 100%);
}

.bg-pages {
    background-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-bottom: 0px;

    a {

        .mt-50s {
            margin-top: 50px;
        }

        color: inherit;
        text-decoration: none;
        display: inline-block;

        &:hover {
            color: inherit;
        }
    }
}

a,
input,
button,
textarea,
select {

    &,
    &:focus {
        outline: 0;
        box-shadow: none !important;
        background-clip: unset !important;
        text-decoration: none;
    }
}

dl,
ol,
ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

// 
main {
    // min-height: calc(100vh - footer+header )
}


// 
// 
a {
    transition: all 0.2s;
    cursor: pointer;
    color: inherit;

    &:hover {
        text-decoration: none;
    }

}

p {
    margin-bottom: 0;
    line-height: 1.49;
}

table {
    td {
        border: solid 1px #EDEDED;
        color: black;
    }
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

.center {
    text-align: center;
}

.s-content ol {
    list-style: decimal;
    margin-left: 15px;
    margin-bottom: 10px;
}

.s-content ul {
    list-style: initial;
    margin-left: 15px;
    margin-bottom: 10px;
}

.s-content li {
    list-style: inherit;
    margin-bottom: 5px;
}

.s-content p {
    margin-bottom: 15px;
}

.s-content img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
    width: auto !important;
    -o-object-fit: contain;
    object-fit: contain;
    height: auto !important;
    max-width: 100%;
}

.s-content table,
.s-content iframe {
    max-width: 100%;
    width: 100%;
}

.s-content table {
    border-collapse: collapse;
    width: 100%;
    border: solid 1px #0000006e;
}

.s-content table td {
    border-collapse: collapse;
    border: solid 1px #0000006e;
    padding: 3px;
}

.s-content h1,
.s-content h2,
.s-content h3,
.s-content h4,
.s-content h5,
.s-content h6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.s-content h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.s-content h2 {
    font-size: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.s-content h3 {
    font-size: 1.17em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.s-content h4 {
    font-size: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.s-content h5 {
    font-size: 0.83em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.s-content h6 {
    font-size: 0.67em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

// bootstrap override

/* font */

@font-face {
    font-family: 'SFUIDisplay-Light';
    src: url('../fonts/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Light.woff') format('woff'), url('../fonts/SFUIDisplay-Light.ttf') format('truetype'), url('../fonts/SFUIDisplay-Light.svg#SFUIDisplay-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay-Thin';
    src: url('../fonts/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Thin.woff') format('woff'), url('../fonts/SFUIDisplay-Thin.ttf') format('truetype'), url('../fonts/SFUIDisplay-Thin.svg#SFUIDisplay-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay-Ultralight';
    src: url('../fonts/SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Ultralight.woff') format('woff'), url('../fonts/SFUIDisplay-Ultralight.ttf') format('truetype'), url('../fonts/SFUIDisplay-Ultralight.svg#SFUIDisplay-Ultralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VLNewParisHeadline';
    src: url('../fonts/VLNewParisHeadline.eot?#iefix') format('embedded-opentype'), url('../fonts/VLNewParisHeadline.woff') format('woff'), url('../fonts/VLNewParisHeadline.ttf') format('truetype'), url('../fonts/VLNewParisHeadline.svg#VLNewParisHeadline') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SFProDisplay-Regular';
    src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProDisplay-Regular.woff') format('woff'), url('../fonts/SFProDisplay-Regular.ttf') format('truetype'), url('../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MTD';
    src: url('../fonts/MTD.eot?#iefix') format('embedded-opentype'), url('../fonts/MTD.woff') format('woff'), url('../fonts/MTD.ttf') format('truetype'), url('../fonts/MTD.svg#MTD') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SFUIDisplay-Bold';
    src: url('../fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Bold.woff') format('woff'), url('../fonts/SFUIDisplay-Bold.ttf') format('truetype'), url('../fonts/SFUIDisplay-Bold.svg#SFUIDisplay-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay-Medium';
    src: url('../fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Medium.woff') format('woff'), url('../fonts/SFUIDisplay-Medium.ttf') format('truetype'), url('../fonts/SFUIDisplay-Medium.svg#SFUIDisplay-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'CabritoDidone-ConDemIt';
    src: url('../fonts/CabritoDidone-ConDemIt.eot?#iefix') format('embedded-opentype'), url('../fonts/CabritoDidone-ConDemIt.woff') format('woff'), url('../fonts/CabritoDidone-ConDemIt.ttf') format('truetype'), url('../fonts/CabritoDidone-ConDemIt.svg#CabritoDidone-ConDemIt') format('svg');
    font-weight: normal;
    font-style: normal;
}




.swiper-container-multirow-column>.swiper-wrapper {
    flex-direction: unset;
}


.swiper-container {
    height: fit-content;

    .swiper-slide {
        height: fit-content;
    }
}


@media (min-width: 1440.98px) {
    .container {
        max-width: 1335px;
    }
}

.color-black {
    color: black !important;
}

.color-greyss {
    color: #C9C9C9 !important;
}

/* end font */

// spacing

// limit line
.limit-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    max-height: 1.5em;
    line-height: 1.5;

    &--2 {
        -webkit-line-clamp: 2;
        max-height: 3em;
    }

    &--3 {
        -webkit-line-clamp: 3;
        max-height: 4.5em;
    }

    &--4 {
        -webkit-line-clamp: 4;
        max-height: 6em;
    }
}

form {
    margin-bottom: 0px;
}

/* variable */

/* search-group */

.d-nones {
    display: none;
}


.text-grey {
    color: #555;
}

/* ---- */

%limit-line1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1 !important;
    overflow: hidden;
    max-height: 100% !important;
    line-height: 1.5;
}

%limit-line2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2 !important;
    overflow: hidden;
    max-height: 100% !important;
    line-height: 1.2;
}

%limit-line3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3 !important;
    overflow: hidden;
    max-height: 100% !important;
    line-height: 1.5;
}

%limit-line4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4 !important;
    overflow: hidden;
    max-height: 100% !important;
    line-height: 1.5;
}

%limit-line5 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5 !important;
    overflow: hidden;
    max-height: 100% !important;
    line-height: 1.5;
}

.modal {
    padding-left: 15px;
    padding-right: 15px;
}


%ul-basic {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.gutter-0 {
    margin: 0 0px;

    &>[class^='col'] {
        padding: 0 0px;
    }
}

.gutter-60 {
    margin: 0 -30px;

    &>[class^='col'] {
        padding: 0 30px;
    }
}

.gutter-100 {
    margin: 0 -50px;

    &>[class^='col'] {
        padding: 0 50px;
    }
}

.gutter-145 {
    margin: 0 -72px;

    &>[class^='col'] {
        padding: 0 72px;
    }
}

/* header */


.header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: 1000;
    transition: all 0.05s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    background-color: #FFFFFF;

    .container {
        display: flex;
        align-items: center;
        max-width: 1720px;
    }
}

.logo-mains {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    width: 105px;
    height: fit-content;

    img {
        width: 100%;
        height: auto;
        object-fit: scale-down;
    }
}

.header-pages {
    position: fixed !important;
    background-color: #efefef;
}

.overflow-hidden {
    overflow: hidden;
}

.actives-fixed__headers {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;

}

.headers-fixed {
    position: fixed !important;
    height: auto;
    width: 100%;
    animation-duration: 3s;
    animation-delay: 0s !important;
    z-index: 99;
    animation-name: slideInDown;
    background-color: black !important;
}


@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }

    100% {
        transform: translateY(0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}


.menu ul li a {
    text-decoration: none;
}

.active-tops {
    opacity: 1 !important;
    z-index: 9 !important;
    visibility: visible !important;
}

.back-menu {
    position: absolute;
    right: 15px;
    top: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 36px;
    font-weight: bold;
    transition: all 0.2s;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%)
    }
}



.content-headers {
    >.container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.scroll-fixed__headers {
    background-color: #ffffff;
}

.btn-language__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 13px;
    font-family: 'Montserrat-Regular';
    padding: 0px 15px;
    border-bottom: solid 2px #707070;
    text-align: center;

    .img-languages__headers {
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        >a {
            width: 25px;
            height: 25px;
            transition: all 0.6s;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
                border-radius: 1000px;
            }

            &:nth-child(1) {
                width: 35px;
                height: 35px;
                z-index: 10;
                position: relative;
                transform: translateX(7px);
            }

            &:nth-child(2) {
                z-index: 5;
                transform: translateX(-7px);
            }

        }

        &:hover,
        &:focus {
            >a {
                &:nth-child(1) {
                    width: 25px;
                    height: 25px;
                    z-index: 10;
                    position: relative;
                    transform: translateX(-7px);
                    z-index: 5;
                    order: 2;
                }

                &:nth-child(2) {
                    width: 35px;
                    height: 35px;
                    z-index: 10;
                    transform: translateX(7px);
                }
            }
        }
    }

}

.menu {
    width: fit-content;
    max-width: 45%;
}

.menu-desktop {
    position: relative;
    width: 100%;
    background-color: #FFFFFF;

    >ul {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;

        >li {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-right: 30px;
            }


            &:hover,
            &:focus {
                >ul {
                    opacity: 1 !important;
                    visibility: visible !important;
                }
            }

            >a {
                color: black;
                width: fit-content;
                display: flex;
                color: #707070;
                transition: all 0.3s;
                position: relative;
                font-size: 24px;
                position: relative;
                display: flex;
                align-items: center;
                margin-right: auto;

                &:after {
                    content: "";
                    display: flex;
                    width: 5px;
                    height: 2px;
                    background-color: #707070;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    position: absolute;
                    transition: all 0.3s;

                }


                &:hover,
                &:focus {

                    &:after {
                        width: 100%;
                    }

                }

            }

            /* submenu */

            >ul {
                position: absolute;
                top: 0;
                left: 100%;
                width: 380%;
                height: auto;
                z-index: 10;
                transition: all 0.2s;
                opacity: 0;
                visibility: hidden;
                background-color: #FFFFFF;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 350px;
                padding: 10px 0px;

                >li {
                    position: relative;
                    width: 25%;
                    margin-bottom: 10px;
                    padding: 0px 10px;

                    >a {
                        padding-bottom: 5px;
                        border-bottom: solid 1px #EDEDED;
                        margin-bottom: 5px;
                        text-transform: uppercase;

                        &:hover,
                        &:focus {
                            color: #333333;
                        }

                    }

                    a {
                        display: flex;
                        color: #333333;
                        font-size: 13px;

                        &:hover,
                        &:focus {
                            color: $blues;
                        }
                    }

                    ul {
                        li {
                            &:not(:last-child) {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.button-phone {
    display: none;
    z-index: 10;
    position: relative;
    z-index: 100;
}

.opens-now {
    left: 0 !important;
    z-index: 9999;
}

.remove-all {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: none;
    top: 0;
    left: 0;
}

.out-menu {
    display: block !important;
}

#main-menu-mobile {
    display: none;
}


@media all and (max-width: 991.98px) {
    #main-menu-mobile {
        position: fixed !important;
        top: 0 !important;
        left: -100%;
        width: 290px;
        max-width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: white;
        display: block;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    #main-menu-mobile::-webkit-scrollbar {
        width: 2px;
        border-radius: 0px;
    }

    #main-menu-mobile::-webkit-scrollbar-track {
        background-color: #6E4720;
    }

    #main-menu-mobile::-webkit-scrollbar-thumb {
        background-color: #F5D182;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    #main-menu-mobile::-webkit-scrollbar-thumb:hover {
        background-color: #05843E;
    }

    #main-menu-mobile {
        scrollbar-face-color: #05843E;
        scrollbar-track-color: #fff;
    }

    #main-menu-mobile .header-menu-mobile {
        text-align: center;
        padding: 20px 0px;

    }

    #main-menu-mobile .header-menu-mobile .close-menu-btn {
        cursor: pointer;
        display: block;
        padding: 8px;
        border: solid 1px white;
    }

    #main-menu-mobile .header-menu-mobile .close-menu-btn i {
        color: #fff;
        font-size: 17px;
    }

    #main-menu-mobile .header-menu-mobile .close-menu-btn:hover {
        background-color: #fff;
    }

    #main-menu-mobile .header-menu-mobile .close-menu-btn:hover i {
        color: #F7941E;
    }

    #main-menu-mobile .menu_clone ul {
        max-height: 600px;
        overflow-y: auto;
    }

    #main-menu-mobile .menu_clone ul::-webkit-scrollbar {
        width: 2px;
        border-radius: 40px;
    }

    #main-menu-mobile .menu_clone ul::-webkit-scrollbar-track {
        background-color: #fff;
    }

    #main-menu-mobile .menu_clone ul::-webkit-scrollbar-thumb {
        background-color: #05843E;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    #main-menu-mobile .menu_clone ul::-webkit-scrollbar-thumb:hover {
        background-color: #F7941E;
    }

    #main-menu-mobile .menu_clone ul li {
        position: relative;
        display: block;
        overflow: hidden;
    }

    #main-menu-mobile .menu_clone ul li a {
        display: block;
        padding: 10px 15px;
        color: #333333;
        font-size: 14px;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        width: calc(100% - 60px);
        border-bottom: solid 1px #ebebeb;
    }

    #main-menu-mobile .menu_clone ul li a:hover,
    #main-menu-mobile .menu_clone ul li.active a {
        color: #F7941E;
    }

    #main-menu-mobile .menu_clone ul li i {
        position: absolute;
        width: 30px;
        max-width: 100%;
        height: 30px;
        top: 0;
        right: 0;
        background-color: #F7941E;
        border-left: solid 1px #EBEBEB;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        opacity: 1;
        font-style: inherit;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    #main-menu-mobile .menu_clone ul li i::before {
        font-family: "FontAwesome";
        content: "";
        font-size: 17px;
        color: black;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    #main-menu-mobile .menu_clone ul li i.active::before {
        transform: rotate(-180deg);
    }

    #main-menu-mobile .menu_clone ul li:hover i {
        opacity: 1;
        background-color: #F7941E;
    }

    #main-menu-mobile .menu_clone ul li ul {
        position: static;
        width: 100%;
        display: none;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #main-menu-mobile .menu_clone ul li ul li {
        border-top: 1px solid #fff;
    }

    #main-menu-mobile .menu_clone ul li ul li:last-child {
        border-bottom: none;
    }

    #main-menu-mobile .menu_clone ul li ul li a {
        width: 100%;
        padding-left: 20px;
        font-size: 13px;
        background-color: #ebebeb;
    }

    #main-menu-mobile .menu_clone ul li ul li ul li a {
        padding-left: 30px;
    }

    .active-menu-mobile {
        left: 0px !important;
    }

    .bg-over-menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        min-width: 20%;
        opacity: 0;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .bg-over-menu.show-over {
        right: 0;
        z-index: 8888;
        opacity: 1;
    }

}





/* end header */


/* footers */

.footers {
    padding: 55px 0px;
    background: rgb(255, 222, 225);
    background: linear-gradient(180deg, rgba(255, 222, 225, 1) 0%, rgba(255, 222, 225, 0.2976540958180147) 100%);
}

.navs-footers {

    li {
        &:not(:last-child) {
            margin-bottom: 5px;
        }

        a {
            color: #585858;
            font-family: 'Montserrat-Regular';

            &:hover,
            &:focus {
                color: $reds;
            }
        }
    }
}


.logo-footers {
    max-width: 96px;
}



.list-app__footers {
    li {
        a {
            font-style: italic;

            &:hover,
            &:focus {
                color: $reds;
            }

        }
    }
}


.text-intros__footers {
    font-style: italic;

    p {
        margin-bottom: 10px;
    }

    a {

        &:hover,
        &:focus {
            color: $reds;
        }
    }
}

.title-texts__footers {
    font-family: 'Montserrat-Regular';
}



/* and footer */





/* forms */


.product-many {
    .form-group {
        display: flex;
        align-items: center;
        margin: 0px;
        width: fit-content;
        height: 40px;
        border: solid 1px #DDDDDD;

        input {
            width: 100%;
            height: 100%;
            text-align: center;
            color: #555;
            flex: 1;
            min-width: 45px;
            max-width: fit-content;
            border-radius: 0px;
            border-left: solid 1px #DDDDDD;
            border-right: solid 1px #DDDDDD;
            border-top: 0px;
            border-bottom: 0px;
            font-size: 16px;

        }
    }

    .value-button {
        line-height: 0;
        font-size: 24px;
        width: 45px;
        min-width: 40px;
        color: #9E9E9E;
        background-color: #FFFFFF;
        border-radius: 0px;
        border: 0px;
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 0px;
        height: 100%;
        padding: 3px;
        text-align: center;
        vertical-align: middle;
        -webkit-touch-callout: none !important;
        -webkit-user-select: none !important;
        -khtml-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
        transition: all 0.3s;

        &:hover,
        &:focus {
            background-color: #555555;
            color: #FFFFFF;
        }
    }

    .value-button:hover {
        cursor: pointer;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}


.input-alls {
    height: 40px;
}

.control-alls {
    background-color: transparent;
    border-radius: px;
    border: 0px;
    border: solid 1px #E0E0E0;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    transition: all 0.2s;

    &:focus {
        border: solid 1px $blues;
    }

    &::placeholder {
        color: #808080 !important;
    }

}

.select-prds__carts {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 100px;
    padding: 0px;

    &:after {
        font-family: 'fontawesome';
        content: "\f0d7";
        font-size: 18px;
        color: $blues;
        position: absolute;
        right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        height: auto;
        background-color: transparent;
        border: 0px;
        padding: 0px;
        padding-right: 20px;
        position: relative;
        z-index: 100;
        color: $blues;
        font-size: 12px;

    }
}


.select-control-alls {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0px;
    height: 40px;
    border: solid 1px #E0E0E0;
    border-radius: 3px;
    width: 100%;

    &:after {
        font-family: 'fontawesome';
        content: "\f0d7";
        font-size: 18px;
        color: $blues;
        position: absolute;
        right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        height: auto;
        background-color: transparent;
        border: 0px;
        padding: 10px;
        padding-right: 20px;
        position: relative;
        z-index: 100;
        font-size: 15px;
        width: 100%;

    }
}



.btn-blues__alls {
    display: flex;
    min-height: 35px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: solid 1px transparent;
    background-color: $blues;
    color: #FFFFFF;
    padding: 5px 15px;
    transition: all 0.3s;
    border: solid 1px $blues;
    min-width: 85px;
    border-radius: 3px;

    &:hover,
    &:focus {
        background-color: $yellows;
        color: #FFFFFF;
        border-color: $yellows;
    }
}

.btn-blues__trans {
    display: flex;
    min-height: 35px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: solid 1px transparent;
    background-color: #FFFFFF;
    color: $blues;
    padding: 5px 15px;
    transition: all 0.3s;
    border: solid 1px $blues;
    border-radius: 3px;
    font-size: 15px;

    i {
        margin-left: 5px;
    }

    &:hover,
    &:focus {
        background-color: $blues;
        color: #FFFFFF;
        border-color: $blues;
    }
}

.btn-reds__alls {
    display: flex;
    min-height: 35px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: solid 1px transparent;
    background-color: #D0021C;
    color: #FFFFFF;
    padding: 5px 15px;
    transition: all 0.3s;
    border: solid 1px #D0021C;
    min-width: 85px;
    border-radius: 3px;

    &:hover,
    &:focus {
        background-color: $blues;
        color: #FFFFFF;
        border-color: $blues;
    }
}

.btn-reds__trans {
    display: flex;
    min-height: 35px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: solid 1px transparent;
    background-color: #FFFFFF;
    color: $reds;
    padding: 5px 15px;
    transition: all 0.3s;
    border: solid 1px $reds;
    border-radius: 3px;
    font-size: 15px;

    i {
        margin-left: 5px;
    }

    &:hover,
    &:focus {
        background-color: $reds;
        color: #FFFFFF;
        border-color: $reds;
    }
}

.btn-grey__alls {
    display: flex;
    min-height: 40px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: solid 1px transparent;
    background-color: transparent;
    color: #808080;
    padding: 5px 25px;
    transition: all 0.3s;
    border: 1px solid #E0E0E0;
    border-radius: 3px;

    &:hover,
    &:focus {
        background-color: #5b5b5b;
        color: #FFFFFF;
        border-color: #5b5b5b;
    }
}


.select-allsss {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px;
    min-height: 50px;
    border: solid 1px #e1e1e1;

    &:after {
        font-family: 'fontawesome';
        content: "\f0d7";
        font-size: 18px;
        color: #555555;
        background-color: #e1e1e1;
        position: absolute;
        padding: 3px;
        right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 3px;


    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        height: auto;
        background-color: transparent;
        border: 0px;
        padding: 10px 20px;
        padding-right: 50px;
        position: relative;
        z-index: 100;

    }
}

.check-kitchen__items {
    display: flex;
    align-items: center;
    position: relative;
    height: auto;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent !important;

    label {
        margin-bottom: 0px;
        margin-left: 5px;
        color: black;
        display: flex;
        align-items: center;
        width: 100%;
        flex: 1;
        color: #333333;
        font-size: 15px;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: red;
        z-index: 9;
        margin: 0px;
    }

    .checkmark {
        position: relative;
        height: 24px;
        width: 24px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: transparent;
        border: solid 1px #737373;
        overflow: hidden;

        &:hover,
        &:focus {
            &:after {
                opacity: 1 !important;
                visibility: visible !important;
            }
        }

        &:after {
            font-family: 'fontawesome';
            content: "\f00c";
            font-size: 12px;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            width: 18px;
            height: 17px;
            color: #333;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.1s;

        }

    }

    input:checked~.checkmark {

        &:after {
            opacity: 1;
            visibility: visible;
        }
    }
}

.check-border__boxs {
    display: flex;
    position: relative;
    height: auto;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent !important;

    label {
        margin-bottom: 0px;
        margin-left: 0px;
        color: black;
        width: 100%;
        position: relative;
        height: 1px;
        padding-top: 35%;
        transition: all 0.3s;
        border: solid 1px #cccccc;
        border-radius: 5px;

        img {
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            right: 0;
            margin: auto;
            width: 80%;
            height: 80%;
            object-fit: scale-down;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: red;
        z-index: 9;
        margin: 0px;
    }

    input:checked~label {
        border: solid 1px $blues;
    }
}

.check-price__boxs {
    display: flex;
    position: relative;
    height: auto;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent !important;
    min-height: 30px;

    label {
        margin-bottom: 0px;
        margin-left: 0px;
        color: black;
        width: 100%;
        position: relative;
        transition: all 0.3s;
        border: solid 1px #cccccc;
        border-radius: 5px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: red;
        z-index: 9;
        margin: 0px;
    }

    input:checked~label {
        border: solid 1px $blues;
    }
}

.check-circle {
    display: flex;
    align-items: center;
    position: relative;
    height: auto;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent !important;

    label {
        margin-bottom: 0px;
        margin-left: 5px;
        color: black;
        display: flex;
        align-items: center;
        width: 100%;
        flex: 1;
        color: #333333;
        font-size: 15px;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: red;
        z-index: 9;
        margin: 0px;
    }

    .checkmark {
        position: relative;
        height: 14px;
        width: 14px;
        border-radius: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: transparent;
        border: solid 1px #737373;
        overflow: hidden;

        &:hover,
        &:focus {
            &:after {
                opacity: 1 !important;
                visibility: visible !important;
            }
        }

        &:after {
            font-family: 'fontawesome';
            content: "\f00c";
            font-size: 12px;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            width: 18px;
            height: 17px;
            color: #333;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.1s;

        }

    }

    input:checked~.checkmark {

        &:after {
            opacity: 1;
            visibility: visible;
        }
    }
}

.btn-see__alls {
    display: flex;
    width: fit-content;
    color: #DD596A;
    font-family: 'SFUIDisplay-Light';
    margin-left: auto;
    margin-right: auto;
    position: relative;

    &:after {
        content: "";
        display: flex;
        width: 20px;
        height: 1px;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #DD596A;
        transition: all 0.3s;
        margin-left: auto;
        margin-right: auto;

    }

    &:hover,
    &:focus {
        color: #DD596A;

        &:after {
            content: "";
            width: 100%;
        }
    }
}


.rating {
    display: flex;
    align-items: center;
    font-size: 12px;
    width: fit-content;

    .rating-box {
        font-size: 0;
        line-height: 1;
        position: relative;
        white-space: nowrap;
        display: inline-block;
        margin: 0 auto;
        overflow: hidden;
        vertical-align: middle;
        font-size: 14px;
        color: $reds;
        margin-right: 10px;
    }

    .rating-box span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        overflow: hidden;
        line-height: 1;
        pointer-events: none;
        width: 100%;
        color: $reds;
    }
}


.breadcrumb {
    display: flex;
    align-items: center;
    padding: 0px;
    flex-wrap: wrap;
    margin-bottom: 0px;
    border-radius: 0px;
    width: fit-content;
    background-color: transparent;

    .active {
        color: $blues !important;
    }

    li {
        position: relative;
        display: flex;
        align-items: center;

        &:not(:last-child) {

            &:after {
                font-family: 'fontawesome';
                content: "\f105";
                display: flex;
                margin: 0px 10px;
            }
        }

        a {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #4D4D4D;

            &:hover,
            &:focus {
                color: $blues;
            }
        }

    }

}




.pagenigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    >a,
    strong {
        display: flex;
        width: 35px;
        height: 35px;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        background-color: #FFFFFF;
        border-radius: 0px;
        color: #555555;
        margin-bottom: 5px;
        border-color: 0px;
        border-radius: 3px;
        font-weight: 400;
        padding: 3px;
        border: solid 1px #cccccc;

        img {
            transition: all 0.3s;
        }

        &:not(:last-child) {
            margin-right: 8px;
        }

        &:hover,
        &:focus {
            background-color: #555555;
            color: #FFFFFF;
        }

    }

    .active {
        color: $blues;
    }

    .next-alls__pages {
        color: $blues;
    }

}

.rating-item {
    display: flex;
    align-items: center;

    .rating-box {
        font-size: 0;
        line-height: 1;
        position: relative;
        white-space: nowrap;
        display: inline-block;
        margin: 0 auto;
        overflow: hidden;
        vertical-align: middle;
        font-size: 14px;
        color: #939393;
    }

    .rating-box span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        overflow: hidden;
        line-height: 1;
        pointer-events: none;
        width: 0%;
        color: #FFC107;
    }

    p {
        font-size: 12px;
        color: #888888;
    }
}


.sl-pagenigations {
    .swiper-pagination {
        position: relative;
        width: fit-content;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;

        .swiper-pagination-bullet {
            margin: 0px;
            padding: 0px;
            width: 10px;
            height: 10px;
            background-color: #d7d7d7;
            border-radius: 1000px;
            transition: all 0.3s;
            position: relative !important;
            bottom: unset;
            opacity: 1 !important;
            border: 0px;

            &:not(:last-child) {
                margin-right: 15px;
            }
        }

        .swiper-pagination-bullet-active {
            transform: scale(1.5);

        }
    }
}


.sl-btn-alls {
    position: relative;

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 0;
        visibility: hidden;
    }

    .group-btns__showss {
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 1px;
        width: 100%;
        z-index: 10;
        top: 50%;
        left: 0px;
        font-size: 24px;

        .showss-button-prev,
        .showss-button-next {
            transition: all 0.3s;
            position: relative;
            width: 30px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #EDEDED;
            cursor: pointer;
            padding: 3px;
            color: #000000;
            background: #FFFFFF;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            z-index: 10;
            transform: translateY(-25px);

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }

            &:hover,
            &:focus {
                transform: scale(1.2);
            }

        }

        .showss-button-prev {
            left: 0px;
        }

        .showss-button-next {
            right: 0px;
        }

    }

}


.titles-monter__italic {
    font-family: 'Montserrat-Light';
}

.titles-light__alls {
    font-family: 'SFUIDisplay-Light';
}

.titles-thin__alls {
    font-family: 'SFUIDisplay-Thin';
}

.titles-transform__alls {
    text-transform: uppercase;
}

.titles-untra__lights {
    font-family: 'SFUIDisplay-Ultralight';
}

.titles-medium__alls {
    font-family: 'SFUIDisplay-Medium';
}

.titles-center__alls {
    text-align: center;
}

.text-color__blues {
    color: $blues;
}

.text-color_reds {
    color: $reds;
}

.text-color_greens {
    color: #219653;
}

.text-color__greys {
    color: #808080;
}




.fs-13s {
    font-size: 13px;
}

.fs-15s {
    font-size: 15px;
}

.fs-16s {
    font-size: 16px;
}

.fs-18s {
    font-size: 18px;
}

.fs-20s {
    font-size: 20px;
}

.fs-22s {
    font-size: 22px;
}

.fs-24s {
    font-size: 24px;
}

.fs-25s {
    font-size: 25px;
}

.fs-28s {
    font-size: 28px;
}

.fs-32s {
    font-size: 32px;
}

.fs-44s {
    font-size: 44px;
}

.fs-48s {
    font-size: 48px;
}

.fs-56s {
    font-size: 56px;
}

.fs-60s {
    font-size: 60px;
}

.fs-70s {
    font-size: 70px;
}

.fs-72s {
    font-size: 72px;
}


.mb-10s {
    margin-bottom: 10px;
}

.mb-20s {
    margin-bottom: 20px;
}

.mb-25s {
    margin-bottom: 25px;
}

.mb-30s {
    margin-bottom: 30px;
}

.mb-40s {
    margin-bottom: 40px;
}

.mb-50s {
    margin-bottom: 50px;
}

.mb-60s {
    margin-bottom: 60px;
}

.mb-70s {
    margin-bottom: 70px;
}

.mb-80s {
    margin-bottom: 80px;
}

.mb-100s {
    margin-bottom: 100px;
}

.mb-150s {
    margin-bottom: 150px;
}

.mt-50s {
    margin-top: 50px;
}

.mt-70s {
    margin-top: 50px;
}

.p-50s {
    padding: 50px;
}


a {

    &:hover,
    &:focus {}
}

/* :not(:last-child) */
/* :nth-child(1n+0) */

/* end variable */