.price_slider {
    margin-bottom: 1em;
}

.price_slider_amount {
    text-align: right;
    line-height: 2.4em;
    font-size: 0.8751em;
}

.price_slider_amount .button {
    font-size: 1.15em;
}

.price_slider_amount .button {
    float: left;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.9em;
    height: 0.9em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background: #e7e7e7;
    background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#e7e7e7));
    background: -webkit-linear-gradient(#FEFEFE, #e7e7e7);
    background: -moz-linear-gradient(center top, #FEFEFE 0%, #e7e7e7 100%);
    background: -moz-gradient(center top, #FEFEFE 0%, #e7e7e7 100%);
    outline: none;
    top: -.3em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
}

.ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background: none repeat scroll 0 0 #7AB131;
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.price_slider_wrapper .ui-widget-content {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #1e1e1e;
    background: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(#6a6a6a));
    background: -webkit-linear-gradient(#1e1e1e, #6a6a6a);
    background: -moz-linear-gradient(center top, #1e1e1e 0%, #6a6a6a 100%);
    background: -moz-gradient(center top, #1e1e1e 0%, #6a6a6a 100%);
}

.ui-slider-horizontal {
    height: .5em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
}

/* --------------------------------------
=========================================
    sidebar widget_icon
=========================================
-----------------------------------------*/
#list-widget_icon {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    display: block;
    width: 100%;
}

#list-widget_icon li {
    position: relative;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

#list-widget_icon li:not(:last-child) {
    margin-bottom: 30px;
}

#list-widget_icon li>i {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 30px;
    color: #7AB131;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}

#list-widget_icon li .infor-widget_icon>h3 {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #333;
}

#list-widget_icon li .infor-widget_icon>p {
    font-size: 13px;
    line-height: 1.49;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333;
}

/* --------------------------------------
=========================================
   Post sidebar Css
=========================================
-----------------------------------------*/
#list-widget_contact {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    clear: both;
}

#list-widget_contact>li {
    position: relative;
    display: flex;
    width: 100%;
}

#list-widget_contact>li a {
    color: #fff;
}

#list-widget_contact>li i {
    margin-right: 15px;
    font-size: 24px;
    background: transparent;
    padding: 0px;
    color: #eaeaea;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    text-align: center;
    display: block;
}

#list-widget_contact>li i.fa-phone {
    transform: rotate(90deg);
}

#list-widget_contact>li p {
    font-weight: 400;
    color: #fff;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 24px;
    width: calc(100% - 39px);
    font-family: 'Roboto', sans-serif;
}

/* --------------------------------------
=========================================
   Post sidebar Css
=========================================
-----------------------------------------*/
.footer-sidebar .widget ul.sidebar-post {
    padding: 0px;
    margin: 0px;
}

.sidebar-post {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.sidebar-post li {
    display: block;
    width: 100%;
    clear: both;
    position: relative;
}

.sidebar-post li .img-sidebarpost {
    position: relative;
}

.sidebar-post li .img-sidebarpost img {
    width: 100%;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    object-fit: cover;
    height: 100% !important;
}

.sidebar-post li:hover .img-sidebarpost img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.sidebar-post li .img-sidebarpost img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-post li .name-sidebarpost {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 22px;
    display: block;
    overflow: hidden;
    font-weight: 600;
    margin-bottom: 0px;
}

.sidebar-post li .name-sidebarpost a {
    display: block;
    color: #333;
}

.sidebar-post li .post-time {
    display: block;
    color: #aaa;
    font-size: 12px;
}

.sidebar-post li:hover .name-sidebarpost a {
    color: #4db2ec;
}

.post-style-1 .img-sidebarpost {
    width: 30%;
    float: left;
    height: 60px;
    overflow: hidden;
}

.post-style-1 .name-sidebarpost {
    width: 70%;
    float: left;
    padding-left: 10px;
}

.post-style-2 .img-sidebarpost {
    width: 30%;
    float: right;
    height: 60px;
    overflow: hidden;
}

.post-style-2 .name-sidebarpost {
    width: 70%;
    float: left;
    padding-left: 10px;
}

.post-style-2 li:first-child .name-sidebarpost {
    position: absolute;
    bottom: 0;
    padding: 0 10px;
    margin-bottom: 15px;
    z-index: 1;
    width: 100%;
}

.post-style-2 li:first-child .name-sidebarpost a {
    color: #fff;
    text-transform: uppercase;
}

.post-style-2 li:first-child .img-sidebarpost {
    height: 180px;
    width: 100%;
}

.post-style-2 li:first-child .img-sidebarpost::before {
    bottom: 0;
    top: auto;
    content: "";
    display: block;
    height: 80%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.post-style-3 .img-sidebarpost {
    width: 100%;
    float: left;
    height: 180px;
    overflow: hidden;
}

.post-style-3 .name-sidebarpost {
    width: 100%;
    float: left;
    padding: 0px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 11;
    text-transform: uppercase;
}

.sidebar .widget .post-style-3 .name-sidebarpost a {
    color: #fff;
}

.post-style-3 li .img-sidebarpost::before {
    bottom: 0;
    top: auto;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}

.sidebar .widget ul.sidebar-post.post-style-4 {
    padding: 5px;
}

.post-style-4 li .img-sidebarpost {
    display: none;
}

.post-style-4 li:first-child .img-sidebarpost {
    display: block;
    clear: both;
}

.post-style-4 .img-sidebarpost {
    width: 100%;
    height: auto;
}

.post-style-4 .name-sidebarpost {
    width: 100%;
    float: left;
    padding-left: 20px;
    position: relative;
}

.post-style-4 .name-sidebarpost::before {
    content: "\f0da";
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    left: 5px;
    top: 0px;
    color: #0883d5;
}

.post-style-4 li:first-child .name-sidebarpost {
    padding: 0px;
    margin-bottom: 5px;
    font-size: 15px;
}

.post-style-4 li:first-child .name-sidebarpost a {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.post-style-4 li:first-child .name-sidebarpost::before {
    display: none;
}

.post-style-4 li:first-child .img-sidebarpost a {
    float: left;
    max-width: 38%;
    margin-right: 10px;
}

.post-style-4 li .post-time {
    display: none;
}

.sidebar .widget .post-style-4 li {
    border-bottom: solid 1px #ddd;
    padding: 5px 0px;
    margin: 0px;
    background: transparent;
}

.sidebar .widget ul.sidebar-post {
    padding: 0px;
    border: solid 0px #ddd;
}

.sidebar .widget ul.sidebar-post li {
    padding: 6px;
}

.sidebar-post.owl-carousel li {
    padding: 0px !important;
    display: block;
    position: relative;
    overflow: hidden;
}

.sidebar-post.owl-carousel .name-sidebarpost {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50px;
    z-index: 10;
    display: block;
    padding: 15px;
    padding-right: 100px;
}

.sidebar-post.owl-carousel li .name-sidebarpost a {
    color: #FFFFFF;
    border-bottom: solid 1px transparent;
    margin-bottom: 10px;
    font-size: 24px;
    display: inline-block;
    transition: all 0.2s;
    font-weight: 500;
    line-height: 1.2;
}

.sidebar-post.owl-carousel li .name-sidebarpost a:hover {
    border-bottom: solid 1px #FFFFFF;
}

.sidebar-post.owl-carousel li .name-sidebarpost span {
    color: #fff;
}

.sidebar-post.owl-carousel .img-sidebarpost {
    position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 65%;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
}

.sidebar-post.owl-carousel .img-sidebarpost img {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    bottom: 0;
    left: 0;
    object-position: 50% 50%;
}

.sidebar-post.owl-carousel .owl-nav {
    background: transparent;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 0px;
    opacity: 1;
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 0px;
}

.sidebar-post.owl-carousel .owl-nav [class*="owl-"] {
    background: transparent;
    width: auto;
    height: auto;
    padding: 5px;
}

.sidebar-post.owl-carousel .owl-nav [class*="owl-"]:hover {
    opacity: 1;
    color: #7AB131;
}

.sidebar-post.owl-carousel .owl-nav .owl-prev {}

.sidebar-post.owl-carousel .owl-nav .owl-next {}

.sidebar-post.owl-carousel .owl-nav i::before {
    color: #fff;
    font-size: 22px;
}

/* --------------------------------------
=========================================
   RegisterForm Css
=========================================
-----------------------------------------*/
.popup-register {
    bottom: 2%;
    position: fixed;
    right: 12px;
    text-align: center;
    z-index: 9999;
    display: none;
}

.popup-register>a {
    display: block;
    position: relative;
}

.popup-register>a>span {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 5px;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

#registerForm {
    top: 10%;
}

.fixed-hotline {
    bottom: 12%;
    position: fixed;
    right: 12px;
    text-align: center;
    z-index: 9999;
}

.fixed-hotline>a {
    display: block;
    position: relative;
}

.fixed-hotline>a>span {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 8px;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

span.wpcf7-not-valid-tip {
    position: absolute;
    right: 10px;
    bottom: 0px;
    font-size: 12px;
}

/* --------------------------------------
=========================================
   modal-popup Css
=========================================
-----------------------------------------*/
.modal-dialog .modal-content {
    background: #e8e8e8;
    font-family: 'Roboto', sans-serif;
    border: 0;
    box-shadow: unset;
    border-top: 3px solid #bd010b;
}

.modal-dialog .modal-content .modal-header {
    border-bottom: 0px solid #e5e5e5;
}

.modal-dialog .modal-content .form-group {
    padding: 0px 20px;
    margin-bottom: 0;
}

.modal-dialog .modal-content .modal-title {
    text-align: center;
    font-size: 18px;
    color: #344654;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 15px 0px;
    line-height: 20px;
}

.modal-dialog .modal-content .modal-title span {
    border-left: solid 2px #ff3d00;
    padding-left: 10px;
    line-height: 20px;
    display: inline-block;
}

.modal-dialog .modal-content .modal-description {
    text-align: center;
    color: #666666;
    font-size: 14px;
    padding: 0px 20px;
    margin-bottom: 0;
}

.modal-dialog .modal-content .modal-header .close {
    position: absolute;
    right: -5px;
    top: -5px;
    color: #cc202c;
    opacity: 1;
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.modal-dialog .modal-content .wpcf7-form-control.wpcf7-submit {
    height: auto;
    float: left;
    color: #000;
    background-color: #fcb831;
    border-radius: 0px;
    border-width: 0;
    padding: 10px 0px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: block;
    width: 100%;
    margin-top: 0px;
    position: relative;

}

.modal-dialog .modal-content .wpcf7-form-control.wpcf7-submit:hover {
    background-color: #c21622;
    color: #fff;
}

.modal-dialog .modal-content .form-group .form-control {
    border: 0px;
}

.modal-dialog .modal-content .form-group textarea {
    border: 0px;
    height: 80px;
}

/* --------------------------------------
=========================================
   form-group Css
=========================================
-----------------------------------------*/
.form-group .row-form_register {
    display: flex;
    width: 100%;
}

.form-group .row-form_register .wpcf7-form-control-wrap {
    width: 50%;
    margin-bottom: 12px;
}

.form-group .row-form_register .form-control {
    margin-bottom: 0px;
}

.form-group .row-form_register .wpcf7-form-control-wrap:first-child {
    margin-right: 10px;
}

.form-group .form-control {
    height: 50px;
    padding-left: 12px;
    margin-bottom: 12px;
    color: #333;
}

.form-group .form-control::placeholder {
    color: #919191;
}

.form-group .wpcf7-form-control-wrap {
    position: relative;
    display: block;
    width: 100%;
}

.form-group .wpcf7-form-control-wrap::before {
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Font Awesome 5 Pro";
    font-size: 16px;
    color: #cc4848;
    background: #e4e2e2;
    padding: 10px;
    width: 35px;
    height: 100%;
    text-align: center;
    display: none;
}

.form-group .wpcf7-form-control-wrap.your-product::before {
    content: "\f23d";
    font-family: "Font Awesome 5 Pro";
}

.form-group .wpcf7-form-control-wrap.your-tour::before {
    content: "\f1d8";
}

.form-group .wpcf7-form-control-wrap.your-name::before {
    content: "\f007";
}

.form-group .wpcf7-form-control-wrap.your-phone::before {
    content: "\f3cd";
    font-weight: 900;
    font-size: 18px;
}

.form-group .wpcf7-form-control-wrap.your-address::before {
    content: "\f3c5";
    font-weight: 900;
}

.form-group .wpcf7-form-control-wrap.your-email::before {
    content: "\f0e0";
}

.form-group .wpcf7-form-control-wrap.your-message::before {
    content: "\f303";
    font-weight: 900;
}

.form-group textarea.form-control {
    height: 100px;
    box-shadow: none;
    padding-left: 12px;
    width: 100% !important;
}

.form-group .wpcf7-form-control.wpcf7-submit {
    color: #fff;
    text-transform: uppercase;
    padding: 8px 30px;
    border: 0;
    background: #7AB131;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 3px;
    border: solid 1px #7AB131;
    display: block;
    margin: 0 auto;
}

.form-group .wpcf7-form-control.wpcf7-submit:hover {
    background: #5BCE36;
    color: #fff;
    border: solid 1px #5BCE36;
}

/* --------------------------------------
=========================================
   SuccessfulForm Css
=========================================
-----------------------------------------*/
#SuccessfulForm {
    top: 15%;
}

#SuccessfulForm .modal-body {
    background-color: #fff;
    text-align: center;
}

#SuccessfulForm .modal-body img {
    margin: 0 auto;
}

#SuccessfulForm .modal-body .close {
    position: absolute;
    right: 0px;
    top: 2px;
    color: #fff;
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
    width: 35px;
    height: 35px;
    border-radius: 0;
}

#SuccessfulForm .title-successful {
    color: #11519b;
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

#SuccessfulForm .des-successful {
    color: #333;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

#SuccessfulForm .des-successful a {
    color: #751113;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

#SuccessfulForm .back-homepage a {
    border: solid 1px #11519b;
    display: inline-block;
}

#SuccessfulForm .back-homepage a span {
    padding: 10px 30px;
    background: #11519b;
    border: solid 1px #fff;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#SuccessfulForm .icon-check {
    text-align: center;
}

#SuccessfulForm .icon-check i.fa {
    font-size: 40px;
    color: #11519b;
    background: #fff;
}

/*---------------------------------------
 Slider
-----------------------------------------*/
.owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    width: auto;
    height: auto;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default
}

.owl-carousel .owl-dot {
    display: inline-block;
}

.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 10px;
}

.owl-carousel .owl-nav.disabled {
    display: none;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #751113;
}

.owl-theme .owl-dots .owl-dot {
    background: transparent;
    width: auto;
    height: auto;
    border: 0;
    padding: 0;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 2px 3px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

/* --------------------------------------
=========================================
   Social-ring
=========================================
-----------------------------------------*/
.fa-facebook-messenger::before {
    content: "\f39f";
    font-family: "Font Awesome 5 Brands" !important;
}

.social-ring i.fa-zalo {
    font-size: 18px;
    padding: 0;
}

.social-ring .call-icon {
    margin-bottom: 20px;
}

.social-ring .call-icon i.fa {
    background: #C9252C;
    color: #fff;
}

.social-ring .zalo {
    margin-bottom: 20px;
}

.social-ring .mes {
    margin-bottom: 20px;
}

.social-ring .mes i.fa {
    background-color: #365899;
    color: #fff;
    padding: 8px;
}

.social-ring .mes i.fa img {
    max-width: 25px;
}

.social-ring .mes .alo-circle-fill {
    background-color: rgba(11, 75, 99, 0.5);
}

.social-ring .mes .alo-circle {
    border-color: #365899;
}

.social-ring .call-icon .alo-circle-fill {
    background-color: rgba(201, 37, 44, 0.5);
}

.social-ring .call-icon .alo-circle {
    border-color: #c9252c;
    background: rgba(201, 37, 44, 0.3);
}

.social-ring .mes:hover>span {
    background-color: #365899;
}

.social-ring .zalo:hover>span {
    background-color: #43a1f3;
}

.social-ring a.zalo span:before {
    border-color: transparent rgb(5, 144, 199) transparent transparent;
}

.social-ring a.mes span:before {
    border-color: transparent rgb(54, 88, 153) transparent transparent;
}

.social-ring {
    display: inline-grid;
    position: fixed;
    bottom: 15px;
    left: 30px;
    min-width: 45px;
    text-align: center;
    z-index: 99999;
}

.social-ring-main {
    display: block;
}

.social-ring-content {
    display: inline-grid;
}

.social-ring a {
    padding: 8px 2px;
    cursor: pointer;
    position: relative;
}

.social-ring i {
    width: 40px;
    height: 40px;
    background: #43a1f3;
    color: #fff;
    border-radius: 100%;
    font-size: 22px;
    text-align: center;
    line-height: 1.9;
    position: relative;
    z-index: 999;
}

.social-ring span {
    display: none;
}

.alo-circle {
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: zoomIn;
    width: 50px;
    height: 50px;
    top: 3px;
    right: -3px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    border-color: #0089B9;
    opacity: .5;
}

.alo-circle-fill {
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: pulse;
    width: 60px;
    height: 60px;
    top: -2px;
    right: -8px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    background-color: rgba(0, 175, 242, 0.5);
    opacity: .75;
}

.call-icon:hover>span,
.mes:hover>span,
.sms:hover>span,
.zalo:hover>span {
    display: block
}

.social-ring a span {
    border-radius: 2px;
    text-align: center;
    background: rgb(103, 182, 52);
    padding: 9px;
    display: none;
    width: 180px;
    margin-left: 10px;
    position: absolute;
    color: #ffffff;
    z-index: 999;
    top: 9px;
    left: 40px;
    transition: all 0.2s ease-in-out 0s;
    -moz-animation: headerAnimation 0.7s 1;
    -webkit-animation: headerAnimation 0.7s 1;
    -o-animation: headerAnimation 0.7s 1;
    animation: headerAnimation 0.7s 1;
}

@-webkit-keyframes "headerAnimation" {
    0% {
        margin-top: -70px;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes "headerAnimation" {
    0% {
        margin-top: -70px;
    }

    100% {
        margin-top: 0;
    }
}

.social-ring a span:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(103, 182, 52) transparent transparent;
    position: absolute;
    left: -10px;
    top: 10px;
}

/*---------------------------------------
   Header Contact Details 
-----------------------------------------*/
.header-top-info-1 {
    float: none;
    position: relative;
    background: #e9ecef;
    border-bottom: 0px solid #e9ecef;
    z-index: 10000;
    padding: 0;
}

.header-top-info-1 .info {
    padding-left: 0;
    margin: 0;
    padding-top: 4px;
}

.header-top-info-1 .info li {
    font-size: 13px;
    padding-right: 0;
    display: inline-block;
}

.header-top-info-1 .info li i {
    color: #444;
    margin-right: 6px;
}

.header-top-info-1 .info li a {
    font-size: 13px;
    margin-right: 10px;
}

/*---------------------------------------
    Social Icons    
-----------------------------------------*/
.header-top-info-1 .social {
    padding: 0px 0;
    margin: 0;
    line-height: 20px;
    padding: 0;
    text-align: right;
}

.header-top-info-1 .social li {
    font-family: 'Awesomefont';
    margin-right: 4px;
    display: inline-block;
}

.header-top-info-1 .social li {
    position: relative;
}

.header-top-info-1 .social li:first-child a {
    border: 0;
    margin-left: 5px;
}

.header-top-info-1 .social li a {
    display: table;
    position: relative;
    -webkit-transition: .3s all;
    transition: .3s all;
    overflow: hidden;
}

.header-top-info-1 .social li a i {
    background: transparent;
    border-radius: 30px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #444;
    width: 22px;
    height: 22px;
    font-size: 16px;
}

.header-top-info-1 .social li a span {
    display: none;
}

.header-top-info-1 .social li a i:hover {
    color: #000;
    background: #fcb831;
}

.header-contact {
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: left;
}

.header-contact li {
    display: inline-block;
    color: #444;
    margin-right: 10px;
}

.header-contact li i {
    padding-right: 3px;
    color: #444;
}

.header-contact li a {
    font-size: 14px;
    color: #000;
}

.header-contact li a:hover {
    color: #bd010b;
}

.header-contact li a span {
    color: #444;
}

.header-contact li:last-child {
    margin-right: 0px;
}

/* --------------------------------------
=========================================
    Latest Blog Section
=========================================
-----------------------------------------*/
/*---------------------------------------
    Search Form
-----------------------------------------*/
#searchform {
    position: relative;
    float: right;
    padding: 0;
    margin: 0;
    max-width: 250px;
    width: 100%;
}

#searchform .form-control {
    border-radius: 5px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    border: 0;
    color: #333;
    margin-bottom: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0px 10px;
}

#searchform .form-control::placeholder {
    color: #999;
}

#searchsubmit {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    border-radius: 0px;
    height: 40px;
    padding: 0;
    width: 40px;
    background: #eee;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#searchsubmit i.fa {
    color: #666;
    padding-right: 5px;
}

#searchsubmit:hover {
    background: #0064a0;
    color: #fff;
}

/* --------------------------------------
=========================================
    Footer Section
=========================================
-----------------------------------------*/
.information-footer p {
    color: #333;
    font-size: 14px;
    line-height: 22px;
}

.image-bocongthuong {
    display: block;
    margin-top: 30px;
}

.footer-sidebar .social {
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px;
    list-style: none;
}

.footer-sidebar .social li {
    margin: 0;
    display: inline-block;
    padding: 0px 1px;
    line-height: 20px;
    width: auto;
    margin-bottom: 5px;
}

.footer-sidebar .social li a span {
    display: none;
    color: #fff;
}

.footer-sidebar .social li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: solid 1px #fff;
    padding: 3px;
    font-size: 18px;
    color: #fff;
}

/*.footer-sidebar .social li a i {
    background: #fff;
    border-radius: 100%;
    align-items: center;
    display: flex;
    text-align: center;
    color: #fff;
    width: 36px;
    height: 36px;
    font-size: 20px;
    border: solid 0px #fff;
    transition: 0.3s;
    justify-content: center;
}*/
/*.footer-sidebar .social li a i.fab.fa-facebook-f{
    color: #073791;
    border:solid 0px #073791;
}
.footer-sidebar .social li a i.fab.fa-twitter{
    color: #3e7ef8;
    border:solid 0px #3e7ef8;
}
.footer-sidebar .social li a i.fab.fa-google-plus{
    color: #ee1c25;
    border:solid 0px #ee1c25;
}
.footer-sidebar .social li a i.fab.fa-youtube{
    color: #c1272c;
    border:solid 0px #c1272c;
}
.footer-sidebar .social li a i.fab.fa-instagram{
    color: #003432;
    border:solid 0px #003432;
}*/
.footer-sidebar ul.social>li a:hover {
    background: #c9252c;
    color: #fff;
    border: solid 0px #c9252c;
}

.logo-dmca {
    margin-bottom: 20px;
}

.logo-dmca img {
    width: auto;
}

.logo-bocongthuong img {
    width: auto;
    max-width: 155px;
}

.footer-sidebar ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    clear: both;
}

.footer-sidebar ul.menu li {
    width: 100%;
    display: block;
}

.footer-sidebar ul.menu li a {
    display: block;
    font-size: 13px;
    color: #fff;
    font-weight: 300;
}

.footer-sidebar .background-overlay {
    bottom: 0;
    height: 100%;
    z-index: 3;
    padding: 60px 0px;
    position: relative;
    background: #333333;
    border-top: 0px solid #333;
    margin-top: 200px;
}

.footer-sidebar .background-overlay::after {
    position: absolute;
    content: "";
    bottom: 180px;
    display: flex;
    width: 505px;
    right: 0px;
    max-width: 100%;
    height: 70px;
    background: url(../images/after-bg-rights-footers.png) no-repeat center;
    background-size: 100% 100%;
}

.footer-sidebar .widget p {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}

.footer-sidebar .widget h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
}

.footer-sidebar .widget p b {
    color: #fff;
}

.footer-sidebar .widget-title-followus {
    color: #333333;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #e7eaf1;
    line-height: 22px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer-top .title-widget {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 30px;
    font-style: normal;
    margin: 0;
    text-transform: uppercase;
}

.footer-sidebar .form-group .form-control {
    margin-bottom: 0px;
    padding-left: 15px;
    background: transparent;
    font-size: 14px;
    color: #fff;
    border: 0;
    border-radius: 0;
    border: solid 0px #ffa700;
    border-right: 0;
    border-bottom: solid 1px #000;
}

.footer-sidebar .form-group .wpcf7-form-control-wrap::before {
    background: transparent;
    color: #e1e1e1;
    content: "\f2b6";
}

.footer-sidebar .form-group .row-form_register {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.footer-sidebar .form-group .wpcf7-form-control-wrap.your-name {
    margin-right: 6px;
}

.footer-sidebar .form-group .wpcf7-form-control-wrap.your-email {
    margin: 0px;
    margin-left: 0px;
    width: calc(100% - 100px);
}

.footer-sidebar div.wpcf7 .ajax-loader {
    display: none;
}

.footer-sidebar .form-group textarea {
    height: 60px;
}

.footer-sidebar .form-group .wpcf7-submit {
    background: #7AB131;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    display: block;
    width: 96px;
    font-family: 'Roboto', sans-serif;
}

.footer-sidebar .form-group .wpcf7-submit:hover {
    background: #c9252c;
    color: #fff;
}

/*---------------------------------------
    Footer Copyright
-----------------------------------------*/
.footer-copyright {
    background: #363636;
    border-top: 1px solid transparent;
    padding: 10px 0px;
}

.footer-copyright p,
.footer-copyright p a {
    color: #e0e0e0;
    line-height: 22px;
    text-align: left;
    margin: 0;
    padding: 10px 0px;
    font-size: 14px;
}

.footer-copyright .image-payment {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0px;
}

.footer-copyright .widget-title {
    margin: 0;
}

.footer-copyright ul {
    margin: 0;
    padding: 5px 0;
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    text-align: right;
}

.footer-copyright ul li:first-child label {
    border-left: solid 0px #fff;
}

.footer-copyright ul li:first-child {
    padding-left: 15px;
}

.footer-copyright ul li:first-child::after {
    position: absolute;
    left: 0;
    top: 5px;
    content: "\f0c0";
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
}

.footer-copyright ul li {
    width: auto;
    float: none;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 5px 10px;
}

.footer-copyright ul li label {
    width: auto;
    font-weight: normal;
    padding-right: 5px;
    border-left: solid 2px #fff;
    padding-left: 10px;
    line-height: 13px;
    display: inline-block;
    margin: 0;
}

.widget-copyright,
.widget-copyright a {
    margin: 0px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}

.logo-footer {
    text-align: center;
    margin: 0px auto;
    margin-bottom: 30px;
    margin-top: -20px;
}

.logo-footer img {
    margin: 0px;
    max-height: 100px;
}

.logo-footer .txt-footer {
    margin: 20px 0px;
    color: #f32d3b;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.information-footer ul {
    text-align: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.information-footer ul li {
    font-family: 'Helvetica', 'Arial', Sans-Serif;
    font-weight: 400;
    font-size: 12px;
    border-right: 0px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}

.tit-footer {
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.information-footer {
    text-align: center;
}

/* --------------------------------------
=========================================
   #section breadcrumb  Css
=========================================
-----------------------------------------*/
#section-breadcrumb .background-overlay {
    padding: 0px;
    background: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
}

#section-breadcrumb .title-page {
    position: relative;
    text-align: left;
    font-size: 32px;
    text-transform: uppercase;
    padding: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
}

.page-breadcrumb {
    list-style: none outside none;
    margin: 0;
    padding: 0px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    display: block;
    background: transparent;
    border-radius: 3px;
}

.page-breadcrumb a {
    color: #BDBDBD;
}

.page-breadcrumb span {
    display: inline;
    color: #BDBDBD;
}

.page-breadcrumb p {
    font-size: 14px;
    color: #BDBDBD;
    margin: 0;
}

.page-breadcrumb li {
    display: inline;
}

/* --------------------------------------
=========================================
    Blog Section
=========================================
-----------------------------------------*/
/*---------------------------------------
    Post Style
-----------------------------------------*/
a.post-thumbnail img {
    opacity: 1;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

a.post-thumbnail img:hover {
    opacity: 0.9;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

header.entry-header {
    padding: 14px 20px;
}

h2.entry-title {
    margin: 0;
    line-height: 28px;
}

h2.entry-title a {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.entry-header h2.entry-title {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.entry-header {
    display: block;
    width: 100%;
    clear: both;
    padding: 0px;
}

.entry-content {
    display: block;
    width: 100%;
    clear: both;
    padding: 10px 0px;
}

.entry-content .aligncenter {
    margin: 0 auto;
}

.entry-content .more-link {
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border-radius: 30px;
    background: transparent;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.entry-meta {
    text-align: left;
    color: #666;
    display: block;
    margin-bottom: 10px;
    padding: 0px;
}

a.more-link {
    position: relative;
    top: 15px;
}

.entry-content .more-link:hover {
    color: #ffffff;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

footer.entry-footer {
    font-size: 13px;
    color: #ffffff;
    padding: 15px 20px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

footer.entry-footer .byline,
footer.entry-footer .posted-on,
footer.entry-footer .cat-links,
footer.entry-footer .tags-links {
    margin-right: 15px;
}

footer.entry-footer span {
    /*  display: inline-block;*/
}

footer.entry-footer a {
    color: #ffffff;
}

footer.entry-footer a:hover {
    color: #ffffff;
}

.page-wrapper article:hover footer.entry-footer {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

/* --------------------------------------
=========================================
 #comment form  Css
=========================================
-----------------------------------------*/
#respond {
    background: #fafafa;
    padding: 40px 20px;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#reply-title small {
    display: block;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 14px;
}

.comment-form>p>label {}

.comment-form>p>input {
    background: #F6F6F6;
    margin-bottom: 0;
    border: 0px;
    border-radius: 9px;
    border: solid 1px #ddd;
    width: 100%;
}

.comment-form>p>input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.comment-form .comment-form-email,
.comment-form .comment-form-author {
    width: calc(50% - 0.1rem);
    float: left;
}

.comment-form .comment-form-comment {
    width: 100%;
}

.comment-form .comment-form-url {
    width: 100%;
}

.comment-form .comment-form-email {
    padding-left: 10px;
}

#reply-title {
    color: #141ed2;
    font-size: 28px;
}

.comments-title {
    color: #fff;
    font-size: 28px;
}

.comment-metadata {
    display: none;
}

#commentform textarea {
    background: #F2F2F2;
    width: 99.8% !important;
    height: 170px !important;
    padding: 12px;
    border-radius: 9px;
    border: solid 1px #ddd;
}

#commentform textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

#comments .comment-form-cookies-consent label {
    display: inline-block;
    width: auto;
}

#comments .comment-form-cookies-consent input {
    display: inline-block;
    width: auto;
}

#submit {
    background: #0078bd;
    color: #fff;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 10px 60px;
    width: auto;
}

#comment_lists {
    list-style: none;
    padding: 0;
    margin: 0;
}

#comment_lists .comment-body {
    margin-bottom: 20px;
}

#comment_lists .children {
    list-style: none;
    padding: 15px;
    margin: 0;
    background-color: #f2f2f2;
}

#comment_lists .children .comment-content p {
    color: #666;
}

#comment_lists .children .comment-author.vcard a {
    color: #141ed2;
}

#comment_lists>li {
    background: transparent;
    margin-bottom: 15px;
}

#comment_lists .lmb-container {
    text-align: center;
    margin-bottom: 20px;
}

#comment_lists #loadMore {
    background: #8D6071;
    color: #fff;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 6px 50px;
}

#comment_lists .comment-meta {
    color: #3F3F3F;
    font-size: 18px;
}

#comment_lists .comment-content p {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}

#comment_lists .comment-meta .says {
    display: none;
}

article.comment-body .reply {
    display: none;
}

#commentform .comment-notes {
    font-size: 18px;
    color: #6868ff68;
    display: none;
}

#commentform .comment-notes #email-notes {
    display: block;
}

/*---------------------------------------
    Post Pagination
-----------------------------------------*/
.paginations {
    margin: 0px;
    text-align: right;
    width: 100%;
    clear: both;
    display: block;
    border-bottom: solid 1px #E0E0E0;
}

.paginations a,
span.page-numbers.current {
    padding: 2px 6px;
    background: #fff;
    color: #333;
    border: solid 1px #ddd;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 0px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
}

.paginations a:hover,
.paginations a:focus,
.paginations a.active,
span.page-numbers.current {
    cursor: pointer;
    background: #fff;
    color: #7AB131;
    border-color: #7AB131;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

.page-template-page-introduce .bannerchild {
    display: none;
}

/*---------------------------------------
    Error Page
-----------------------------------------*/
.error-page {}

.error-page h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 146px;
    font-weight: 800;
    color: #e84c3d;
    line-height: 156px;
    text-shadow: 0 3px 0 #000;
    animation: bounce 2s infinite;
}

.error-page h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    line-height: 36px;
    font-weight: 800;
    color: #1c314c;
    margin: 0;
}

/*---------------------------------------
    Top Scroller 
-----------------------------------------*/
.top-scroll {
    opacity: 1;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    background-color: #0078bd;
    border-radius: 50%;
    bottom: 12%;
    right: 60px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 30px;
    height: 50px;
    text-align: center;
    width: 50px;
    line-height: 46px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.top-scroll:hover {
    opacity: 1;
}

.top-scroll i {
    font-size: 26px;
    line-height: 36px;
    color: #ffffff;
}

.top-scroll:hover,
.top-scroll:focus {
    background-color: #0000ff;
}

/*---------------------------------------
    Search Result
-----------------------------------------*/
.page-wrapper .background-overlay {
    padding: 20px 0px;
}

.page-wrapper .posts-navigation a {
    background: transparent;
    font-family: 'Roboto', sans-serif;
    padding: 12px 24px;
    border-radius: 30px;
    display: table-cell;
    float: left;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.page-wrapper .posts-navigation a:hover {
    color: #fff;
}

.page-wrapper .posts-navigation .nav-next {
    float: right;
}

.dropdown-toggle::after {
    display: none;
}

.products-slick {
    margin: 0 -15px;
}

.products-slick .items-product {
    padding: 0 15px;
}

.products-slick .slick-arrow {
    display: none !important;
}

/* ///// */

header .form-header-search div.asl_w {
    background: none;
}

header .form-header-search #ajaxsearchlite1 .probox,
header .form-header-search div.asl_w .probox {
    background: none;
    color: #BDBDBD;
    border-radius: 5px;
    border: solid 1px #BDBDBD;
    height: 35px;
    font-size: 14px;
}

header div.asl_w .probox .promagnifier {
    background: none;
    top: 0;
    right: 0;
    position: absolute;
    line-height: 34px;
}

header div.asl_w .probox .promagnifier .innericon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-icon>span {
    display: block !important;
}