
@font-face {
  font-family: "SF-UI-Display";
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Thin/SF-UI-Display-Thin.eot");
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Thin/SF-UI-Display-Thin.eot?#iefix") format("embedded-opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Thin/SF-UI-Display-Thin.otf") format("opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Thin/SF-UI-Display-Thin.svg") format("svg"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Thin/SF-UI-Display-Thin.ttf") format("truetype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Thin/SF-UI-Display-Thin.woff") format("woff"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Thin/SF-UI-Display-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF-UI-Display";
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Ultralight/SF-UI-Display-Ultralight.eot");
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Ultralight/SF-UI-Display-Ultralight.eot?#iefix") format("embedded-opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Ultralight/SF-UI-Display-Ultralight.otf") format("opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Ultralight/SF-UI-Display-Ultralight.svg") format("svg"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Ultralight/SF-UI-Display-Ultralight.ttf") format("truetype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Ultralight/SF-UI-Display-Ultralight.woff") format("woff"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Ultralight/SF-UI-Display-Ultralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF-UI-Display";
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Light/SF-UI-Display-Light.eot");
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Light/SF-UI-Display-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Light/SF-UI-Display-Light.otf") format("opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Light/SF-UI-Display-Light.svg") format("svg"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Light/SF-UI-Display-Light.ttf") format("truetype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Light/SF-UI-Display-Light.woff") format("woff"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Light/SF-UI-Display-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF-UI-Display";
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Regular/SF-UI-Display-Regular.eot");
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Regular/SF-UI-Display-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Regular/SF-UI-Display-Regular.otf") format("opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Regular/SF-UI-Display-Regular.svg") format("svg"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Regular/SF-UI-Display-Regular.ttf") format("truetype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Regular/SF-UI-Display-Regular.woff") format("woff"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Regular/SF-UI-Display-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF-UI-Display";
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Medium/SF-UI-Display-Medium.eot");
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Medium/SF-UI-Display-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Medium/SF-UI-Display-Medium.otf") format("opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Medium/SF-UI-Display-Medium.svg") format("svg"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Medium/SF-UI-Display-Medium.ttf") format("truetype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Medium/SF-UI-Display-Medium.woff") format("woff"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Medium/SF-UI-Display-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF-UI-Display";
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Semibold/SF-UI-Display-Semibold.eot");
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Semibold/SF-UI-Display-Semibold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Semibold/SF-UI-Display-Semibold.otf") format("opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Semibold/SF-UI-Display-Semibold.svg") format("svg"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Semibold/SF-UI-Display-Semibold.ttf") format("truetype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Semibold/SF-UI-Display-Semibold.woff") format("woff"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Semibold/SF-UI-Display-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF-UI-Display";
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Bold/SF-UI-Display-Bold.eot");
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Bold/SF-UI-Display-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Bold/SF-UI-Display-Bold.otf") format("opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Bold/SF-UI-Display-Bold.svg") format("svg"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Bold/SF-UI-Display-Bold.ttf") format("truetype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Bold/SF-UI-Display-Bold.woff") format("woff"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Bold/SF-UI-Display-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF-UI-Display";
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Heavy/SF-UI-Display-Heavy.eot");
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Heavy/SF-UI-Display-Heavy.eot?#iefix") format("embedded-opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Heavy/SF-UI-Display-Heavy.otf") format("opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Heavy/SF-UI-Display-Heavy.svg") format("svg"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Heavy/SF-UI-Display-Heavy.ttf") format("truetype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Heavy/SF-UI-Display-Heavy.woff") format("woff"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Heavy/SF-UI-Display-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SF-UI-Display";
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Black/SF-UI-Display-Black.eot");
  src: url("../fonts/SF-UI-Display/SF-UI-Display-Black/SF-UI-Display-Black.eot?#iefix") format("embedded-opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Black/SF-UI-Display-Black.otf") format("opentype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Black/SF-UI-Display-Black.svg") format("svg"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Black/SF-UI-Display-Black.ttf") format("truetype"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Black/SF-UI-Display-Black.woff") format("woff"),
  url("../fonts/SF-UI-Display/SF-UI-Display-Black/SF-UI-Display-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}