/* :not(:last-child) */
/* :nth-child(1n+0) */
.tops-category__news {
  background-color: #EEEEEE;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-category__news {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}
.list-category__news::-webkit-scrollbar {
  display: none;
}
.list-category__news::-webkit-scrollbar-track {
  display: none;
}
.list-category__news::-webkit-scrollbar-thumb {
  display: none;
}
.list-category__news li {
  max-width: fit-content;
  min-width: max-content;
}
.list-category__news li:not(:last-child) {
  margin-right: 10px;
}
.list-category__news li .items-category__news {
  width: 70px;
  padding: 0px 5px;
}
.list-category__news li .items-category__news .img-category__news {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.list-category__news li .items-category__news .img-category__news img {
  height: 45px;
  object-fit: cover;
}
.list-category__news li .items-category__news .name-category__news {
  font-size: 10px;
  font-family: "Arial-Bold";
  text-align: center;
  display: flex;
}

.items-news__pages {
  display: flex;
}
.items-news__pages .img-news__pages {
  width: 85px;
  height: fit-content;
  margin-right: 10px;
}
.items-news__pages .img-news__pages > a {
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 70%;
  position: relative;
}
.items-news__pages .img-news__pages > a img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.items-news__pages .intros-news__pages {
  width: 100%;
  flex: 1;
  font-size: 12px;
}
.items-news__pages .intros-news__pages p {
  margin-bottom: 0;
}
.items-news__pages .intros-news__pages .names-news__pages {
  color: #222222;
  font-size: 12px;
  margin-bottom: 5px;
  display: flex;
  font-family: "Arial-Bold";
  color: #246AAB;
}
.items-news__pages .intros-news__pages .see-news__pages {
  display: flex;
  margin-top: 10px;
  align-items: center;
  font-size: 14px;
  color: #EB7E17;
}
.items-news__pages .intros-news__pages .see-news__pages i {
  margin-left: 10px;
}

.list-news__pages li:not(:last-child) {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #E0E0E0;
}

.content-news__details {
  padding: 15px;
}

.titles-news__details {
  text-transform: uppercase;
  color: #246AAB;
}

.timers-views__details {
  display: flex;
}
.timers-views__details li {
  display: flex;
  align-items: center;
  color: #666666;
}
.timers-views__details li img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  object-fit: scale-down;
}
.timers-views__details li:not(:last-child):after {
  content: "";
  display: flex;
  height: 10px;
  width: 1px;
  background-color: #666666;
  margin: 0px 10px;
}

.news-relates {
  background-color: #F8F8F8;
  padding: 10px 6px;
  margin-bottom: 40px;
}
.news-relates .list-news__relates {
  list-style: number;
  padding-left: 25px;
}
.news-relates .list-news__relates li {
  color: #246AAB;
}
.news-relates .list-news__relates li:not(:last-child) {
  margin-bottom: 5px;
}
.news-relates .list-news__relates li ul {
  list-style: disc;
}
.news-relates .list-news__relates a {
  display: flex;
  font-size: 14px;
  color: #246AAB;
  line-height: 2;
}

.text-news__details {
  color: #434343;
}
.text-news__details a {
  color: #246AAB;
}

.bottoms-news__relates li:not(:last-child) {
  margin-bottom: 30px;
}

.list-care__news {
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.list-care__news li {
  width: 49%;
  margin-bottom: 15px;
}
.list-care__news li a {
  display: flex;
  color: #222222;
  font-size: 13px;
}

.text-policy__details {
  padding: 16px;
}

.text-policy__details a {
  color: #246AAB;
}